Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-deps:
      glob: "**/*.{json}"
      run: pnpm run lint:deps
    lint-workflows:
      glob: "**/*.{yml,yaml}"
      run: pnpm run lint:workflows
    lint-angular:
      glob: "**/*.{ts,tsx,js,jsx,html}"
      run: pnpm run lint:unused
    eslint-staged:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: pnpm run lint:staged -- {staged_files}
      depends_on: [lint-deps, lint-workflows, lint-angular]

test(favorites): cover descriptive line detail links
  src/app/features/favorites/favorites.component.spec.ts
Due: lint-angular, eslint-staged

fix(lines): use descriptive line detail links
  src/app/features/lines/lines.component.ts
Due: lint-angular, eslint-staged

test(lines): cover descriptive detail navigation
  src/app/features/lines/lines.component.spec.ts
Due: lint-angular, eslint-staged

test(routing): rely on behavior-level slug coverage
  src/app/core/routing/url-slug.spec.ts
Due: lint-angular, eslint-staged

docs(favorites): record second review remediation
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

fix(favorites): harden line favorite persistence
  src/app/data/lines/line-favorites.storage.spec.ts
  src/app/data/lines/line-favorites.storage.ts
  src/app/domain/lines/line-favorites.service.spec.ts
  src/app/domain/lines/line-favorites.service.ts
Due: lint-angular, eslint-staged

refactor(lines): localize favorite labels
  src/app/features/lines/lines-ui.copy.ts
  src/app/features/lines/lines.component.html
  src/app/features/lines/lines.component.spec.ts
  src/app/features/lines/lines.component.ts
  src/app/features/lines/lines.config.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-angular, eslint-staged

fix(lines): restore directory filtering invariants
  src/app/features/lines/lines.component.ts
Due: lint-angular, eslint-staged

docs(favorites): record final review remediation
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

test(routing): cover truncated slug separator
  src/app/core/routing/url-slug.spec.ts
Due: lint-angular, eslint-staged

fix(routing): trim truncated slug separator
  src/app/core/routing/url-slug.ts
Due: lint-angular, eslint-staged

docs(favorites): record final slug remediation
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

style(favorites): format final remediation spec
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

test(route-search): reject blank normalized lines
  src/app/data/route-search/route-lines-api.service.spec.ts
Due: lint-angular, eslint-staged

fix(route-search): filter blank normalized lines
  src/app/data/route-search/route-lines-api.service.ts
Due: lint-angular, eslint-staged

docs(favorites): record blank line remediation
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

style(favorites): format blank line remediation spec
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

test(favorites): expose add search panel regression
  src/app/features/favorites/favorites.component.spec.ts
Due: lint-angular, eslint-staged

fix(favorites): separate add directory search
  src/app/features/favorites/favorites.component.html
  src/app/features/favorites/favorites.component.scss
  src/app/features/favorites/favorites.component.spec.ts
  src/app/features/favorites/favorites.component.ts
Due: lint-angular, eslint-staged

test(e2e): cover favorites add search
  tests/playwright/favorites-aggregate.spec.ts
Due: lint-angular, eslint-staged

test(e2e): cover favorites add interaction
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

test(e2e): centralize favorites add interaction
  tests/playwright/favorites-aggregate.spec.ts
Due: lint-angular, eslint-staged

fix(favorites): bind add disclosure state
  src/app/features/favorites/favorites.component.html
Due: lint-angular

test(e2e): isolate favorites add product check
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

test(e2e): capture favorites add state
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

docs(favorites): record add-mode regression
  .agents/specs/2026-09-01-favorites-add-mode-regression.md
Due: none

docs(favorites): record add-mode final validation
  .agents/specs/2026-09-01-favorites-add-mode-regression.md
Due: none

test(lines): cover malformed CTAN names
  src/app/data/lines/line-metadata.util.spec.ts
Due: lint-angular, eslint-staged

fix(lines): reject malformed CTAN names
  src/app/data/lines/line-metadata.util.ts
Due: lint-angular, eslint-staged

refactor(route-search): type CTAN detail names as unknown
  src/app/data/route-search/route-line-detail.mapper.ts
Due: lint-angular, eslint-staged

refactor(route-search): type CTAN summary names as unknown
  src/app/data/route-search/route-lines-api.service.ts
Due: lint-angular, eslint-staged

ci(visual): block regression runs in forks
  .github/workflows/pr-visual-regression.yml
Due: lint-workflows

docs(favorites): record final CTAN boundary hardening
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

docs(favorites): resolve final review status
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

ci(visual): reduce PR evidence permissions
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

fix(pwa): use canonical install icon
  public/manifest.webmanifest
Due: none

refactor(pwa): remove duplicate maskable icon
  public/app-icon-maskable.svg
Due: none

docs(pwa): record exact icon recovery blocker
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none
