Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lint-deps:
  run: pnpm run lint:deps

lint-workflows:
  run: pnpm run lint:workflows

lint-angular:
  run: pnpm run lint:unused

eslint-staged:
  run: pnpm run lint:staged -- {staged_files}
  depends_on:
  - lint-deps
  - lint-workflows
  - lint-angular

feat(legal): define localized compliance content
  src/app/features/legal/legal-content.ts
  src/app/shared/privacy/storage-notice-state.service.ts
Due: lint-angular, eslint-staged

feat(legal): add accessible privacy surfaces
  src/app/features/legal/legal-page.component.html
  src/app/features/legal/legal-page.component.scss
  src/app/features/legal/legal-page.component.ts
  src/app/shared/privacy/legal-footer.component.html
  src/app/shared/privacy/legal-footer.component.scss
  src/app/shared/privacy/legal-footer.component.ts
  src/app/shared/privacy/storage-notice.component.html
  src/app/shared/privacy/storage-notice.component.scss
  src/app/shared/privacy/storage-notice.component.ts
Due: lint-angular, eslint-staged

feat(legal): wire global legal access
  src/app/app.routes.ts
  src/app/features/legal/legal.routes.ts
  src/app/shared/layout/app-layout/app-layout.component.html
  src/app/shared/layout/app-layout/app-layout.component.ts
  src/app/shared/privacy/storage-notice.component.ts
Due: lint-angular, eslint-staged

fix(legal): correct route document data
  src/app/features/legal/legal.routes.ts
Due: lint-angular, eslint-staged

style(legal): align route import order
  src/app/app.routes.ts
Due: lint-angular, eslint-staged

test(legal): cover privacy notice and documents
  tests/playwright/legal-privacy.spec.ts
Due: lint-angular, eslint-staged

refactor(legal): keep policy copy lazy
  src/app/app.routes.ts
  src/app/features/legal/legal-content.spec.ts
  src/app/features/legal/legal-content.ts
  src/app/features/legal/legal-shell-content.ts
  src/app/features/legal/legal.routes.ts
  src/app/shared/privacy/legal-footer.component.ts
  src/app/shared/privacy/storage-notice.component.ts
Due: lint-angular, eslint-staged

ci(legal): run privacy browser flow
  .github/workflows/legal-browser.yml
Due: lint-workflows

test(legal): preserve notice state across reload
  tests/playwright/legal-privacy.spec.ts
Due: lint-angular, eslint-staged

docs(legal): track footer surface continuity
  .agents/specs/2026-08-29-legal-privacy-storage.md
Due: none

test(layout): cover legal footer surface continuity
  tests/playwright/legal-privacy.spec.ts
Due: lint-angular, eslint-staged

fix(test): restore legal privacy coverage
  tests/playwright/legal-privacy.spec.ts
Due: lint-angular, eslint-staged

fix(layout): match legal footer to active surface
  src/app/shared/layout/app-layout-content.directive.spec.ts
  src/app/shared/layout/app-layout-content.directive.ts
  src/app/shared/layout/app-layout-context.store.ts
  src/app/shared/layout/app-layout-context.token.ts
  src/app/shared/privacy/legal-footer.component.html
  src/app/shared/privacy/legal-footer.component.scss
  src/app/shared/privacy/legal-footer.component.ts
Due: lint-angular, eslint-staged

test(layout): register surface in shell specs
  src/app/shared/layout/top-actions/app-shell-top-actions.component.spec.ts
Due: lint-angular, eslint-staged

fix(layout): keep legal footer inside page surface
  src/app/shared/layout/app-layout/app-layout.component.html
Due: lint-angular

feat(layout): support immersive footer visibility
  src/app/shared/layout/app-layout-content.directive.spec.ts
  src/app/shared/layout/app-layout-content.directive.ts
  src/app/shared/layout/app-layout-context.store.ts
  src/app/shared/layout/app-layout-context.token.ts
  src/app/shared/privacy/legal-footer.component.html
  src/app/shared/privacy/legal-footer.component.ts
Due: lint-angular, eslint-staged

docs(layout): define footer navigation contract
  .agents/specs/2026-08-30-footer-navigation-layout.md
Due: none

test(layout): cover footer navigation placement
  tests/playwright/footer-layout.spec.ts
Due: lint-angular, eslint-staged

test(layout): define footer placement modes
  src/app/shared/layout/app-layout-content.directive.spec.ts
Due: lint-angular, eslint-staged

refactor(layout): model footer placement
  src/app/shared/layout/app-layout-content.directive.ts
  src/app/shared/layout/app-layout-context.store.ts
  src/app/shared/layout/app-layout-context.token.ts
  src/app/shared/privacy/legal-footer.component.html
  src/app/shared/privacy/legal-footer.component.ts
Due: lint-angular, eslint-staged

fix(layout): preserve viewport around legal footer
  src/app/features/map/map.component.html
  src/app/shared/layout/app-layout/app-layout.component.html
  src/app/shared/layout/app-layout/app-layout.component.scss
  src/app/shared/privacy/legal-footer.component.scss
  src/styles/_layout.scss
Due: lint-angular

ci(layout): run footer placement browser checks
  .github/workflows/legal-browser.yml
Due: lint-workflows

test(layout): cover interactive map viewport
  tests/playwright/footer-layout.spec.ts
Due: lint-angular, eslint-staged

test(layout): cover immersive surface class
  src/app/shared/layout/app-layout-content.directive.spec.ts
Due: lint-angular, eslint-staged

fix(layout): anchor immersive surface to viewport
  src/app/shared/layout/app-layout-content.directive.ts
  src/styles/_layout.scss
Due: lint-angular, eslint-staged

fix(layout): keep skip wrapper click-through
  src/app/shared/layout/app-layout/app-layout.component.scss
Due: none

docs(layout): correct footer navigation ordering
  .agents/specs/2026-08-30-footer-navigation-layout.md
Due: none

test(layout): require navigation above legal footer
  tests/playwright/footer-layout.spec.ts
Due: lint-angular, eslint-staged

test(layout): cover footer clearance lifecycle
  src/app/shared/layout/app-layout/app-layout.component.spec.ts
Due: lint-angular, eslint-staged

fix(layout): track visible legal footer
  src/app/shared/layout/app-layout/app-layout.component.ts
Due: lint-angular, eslint-staged

fix(layout): raise navigation above footer
  src/app/shared/layout/top-actions/app-shell-top-actions.component.scss
Due: none

fix(legal): place footer below navigation
  src/app/shared/privacy/legal-footer.component.scss
Due: none

task: refresh transport snapshots
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#432)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

docs(layout): specify map notice clearance
  .agents/specs/2026-08-30-footer-navigation-layout.md
Due: none

test(layout): cover storage notice height
  src/app/shared/layout/app-layout/app-layout.component.spec.ts
Due: lint-angular, eslint-staged

test(layout): cover first visit map notice
  tests/playwright/footer-layout.spec.ts
Due: lint-angular, eslint-staged

fix(layout): publish storage notice height
  src/app/shared/layout/app-layout/app-layout.component.ts
Due: lint-angular, eslint-staged

fix(layout): reserve notice viewport
  src/app/shared/layout/app-layout/app-layout.component.scss
Due: none

fix(map): fit workspace below storage notice
  src/app/features/map/map.component.scss
Due: none

Path conditions:
  lint-deps: any of: **/*.{json}
  lint-workflows: any of: **/*.{yml,yaml}
  lint-angular: any of: **/*.{ts,tsx,js,jsx,html}
  eslint-staged: any of: **/*.{ts,tsx,js,jsx}
