Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lint-deps:
  run: pnpm run lint:deps

lint-workflows:
  run: pnpm run lint:workflows

lint-angular:
  run: pnpm run lint:unused

eslint-staged:
  run: pnpm run lint:staged -- {staged_files}
  depends_on:
  - lint-deps
  - lint-workflows
  - lint-angular

fix(favorites): clean legacy nucleus metadata
  src/app/domain/stops/stop-favorites.service.ts
Due: lint-angular, eslint-staged

test(stops): cover canonical nucleus facade
  src/app/domain/stops/stop-directory.facade.spec.ts
Due: lint-angular, eslint-staged

feat(stop-detail): manage favorite from detail
  src/app/features/stop-detail/stop-detail.component.ts
Due: lint-angular, eslint-staged

feat(favorites): search and add stops inline
  src/app/features/favorites/favorites.component.ts
Due: lint-angular, eslint-staged

feat(favorites): add searchable favorite controls
  src/app/features/favorites/favorites.component.html
Due: lint-angular

style(favorites): lay out inline add flow
  src/app/features/favorites/favorites.component.scss
Due: none

feat(stop-detail): render favorite toggle
  src/app/features/stop-detail/stop-detail.component.html
Due: lint-angular

style(stop-detail): align favorite control
  src/app/features/stop-detail/stop-detail.component.scss
Due: none

test(favorites): cover inline stop management
  src/app/features/favorites/favorites.component.spec.ts
Due: lint-angular, eslint-staged

refactor(stops): normalize nucleus at directory boundary
  src/app/data/stops/stop-directory.service.ts
Due: lint-angular, eslint-staged

refactor(stops): keep directory normalization in data layer
  src/app/domain/stops/stop-directory.facade.ts
Due: lint-angular, eslint-staged

refactor(stops): consume normalized directory options
  src/app/core/services/nearby-stop-options.service.ts
Due: lint-angular, eslint-staged

test(stops): keep facade delegation coverage
  src/app/domain/stops/stop-directory.facade.spec.ts
Due: lint-angular, eslint-staged

test(stop-detail): cover favorite management
  src/app/features/stop-detail/stop-detail.component.spec.ts
Due: lint-angular, eslint-staged

test(stops): cover missing nucleus metadata
  src/app/data/stops/stop-directory.metadata.spec.ts
Due: lint-angular, eslint-staged

test(stop-info): hide missing nucleus sentinel
  src/app/data/stops/stop-info.service.spec.ts
Due: lint-angular, eslint-staged

test(favorites): normalize persisted stop metadata
  src/app/domain/stops/stop-favorites.service.spec.ts
Due: lint-angular, eslint-staged

style(favorites): order stop metadata imports
  src/app/domain/stops/stop-favorites.service.ts
Due: lint-angular, eslint-staged

test(stops): isolate sentinel search regression
  src/app/data/stops/stop-directory.metadata.spec.ts
Due: lint-angular, eslint-staged

test(lines): cover terminal NN sentinel
  src/app/data/route-search/route-lines-api.service.spec.ts
Due: lint-angular, eslint-staged

fix(lines): hide terminal NN sentinel
  src/app/data/route-search/route-lines-api.service.ts
Due: lint-angular, eslint-staged

test(e2e): cover stop line sentinel state
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

docs(spec): record line sentinel regression
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

test(visual): publish stop line evidence
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

style(lines): format sentinel mapper
  src/app/data/route-search/route-lines-api.service.ts
Due: lint-angular, eslint-staged

style(lines): format sentinel regression
  src/app/data/route-search/route-lines-api.service.spec.ts
Due: lint-angular, eslint-staged

docs(favorites): record final validation evidence
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

fix(ci): preserve baseline resolution failure
  .github/workflows/pr-visual-regression.yml
Due: lint-workflows

docs(favorites): close final review record
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

test(visual): approve reviewed baseline
  .github/visual-baseline.json
Due: none

docs(favorites): record approved visual baseline
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

docs(favorites): reopen incomplete favorite surfaces
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

test(lines): cover terminal provider sentinel
  src/app/data/lines/line-metadata.util.spec.ts
Due: lint-angular, eslint-staged

fix(lines): normalize line display names
  src/app/data/lines/line-metadata.util.ts
Due: lint-angular, eslint-staged

fix(lines): normalize catalog line names
  src/app/data/catalog/consortium-catalog.service.ts
Due: lint-angular, eslint-staged

refactor(lines): reuse display name normalization
  src/app/data/route-search/route-lines-api.service.ts
Due: lint-angular, eslint-staged

fix(lines): normalize line detail names
  src/app/data/route-search/route-line-detail.mapper.ts
Due: lint-angular, eslint-staged

test(favorites): define line favorite ownership
  src/app/domain/favorites/favorite-collection.facade.spec.ts
  src/app/domain/lines/line-favorites.service.spec.ts
Due: lint-angular, eslint-staged

feat(favorites): persist line favorites
  src/app/data/lines/line-favorites.storage.ts
  src/app/domain/favorites/favorite-collection.facade.ts
  src/app/domain/lines/line-favorites.facade.ts
  src/app/domain/lines/line-favorites.service.ts
Due: lint-angular, eslint-staged

feat(lines): expose favorite actions
  src/app/features/lines/lines-ui.copy.ts
Due: lint-angular, eslint-staged

Path conditions:
  lint-deps: any of: **/*.{json}
  lint-workflows: any of: **/*.{yml,yaml}
  lint-angular: any of: **/*.{ts,tsx,js,jsx,html}
  eslint-staged: any of: **/*.{ts,tsx,js,jsx}
