Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lint-deps:
  run: pnpm run lint:deps

lint-workflows:
  run: pnpm run lint:workflows

lint-angular:
  run: pnpm run lint:unused

eslint-staged:
  run: pnpm run lint:staged -- {staged_files}
  depends_on:
  - lint-deps
  - lint-workflows
  - lint-angular

ci(migration): expose candidate on pull request
  .github/workflows/agent-angular-22-migration.workflow.yml
Due: lint-workflows

fix(migration): align angular eslint atomically
  .github/workflows/agent-angular-22-migration.workflow.yml
Due: lint-workflows

fix(dev): use valid javascript exit handler
  scripts/dev/start-with-snapshot.mjs
Due: none

fix(migration): constrain formatter drift
  .github/workflows/agent-angular-22-migration.workflow.yml
Due: lint-workflows

docs(spec): record dependabot policy validation
  .agents/specs/2026-07-29-dependabot-major-policy.md
Due: none

test(migration): validate only affected formatting
  .github/workflows/agent-angular-22-migration.workflow.yml
Due: lint-workflows

fix(actions): require manual review for major updates (#385)
  .agents/specs/2026-07-29-dependabot-major-policy.md
  .github/workflows/dependabot-auto-merge.workflow.yml
Due: lint-workflows

refactor(ui): adopt built-in recent card control flow
  src/app/features/home/recent-searches/ui/recent-search-card/recent-search-card.component.html
Due: lint-angular

fix(migration): enforce on-push change detection
  .github/workflows/agent-angular-22-migration.workflow.yml
Due: lint-workflows

fix(migration): remove unused coverage helper
  .github/workflows/agent-angular-22-migration.workflow.yml
Due: lint-workflows

ci(migration): avoid duplicate workflow runs
  .github/workflows/agent-angular-22-migration.workflow.yml
Due: lint-workflows

task: refresh transport snapshots
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#387)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#388)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#389)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#390)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#391)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#402)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#404)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#406)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#407)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

fix(actions): harden required qa automation
  .github/workflows/auto-merge-required-qa.workflow.yml
Due: lint-workflows

docs(spec): record actions runtime hardening
  .agents/specs/2026-08-08-actions-runtime-hardening.md
Due: none

fix(actions): isolate required QA candidates
  .github/workflows/auto-merge-required-qa.workflow.yml
Due: lint-workflows

fix(actions): revalidate QA candidate trust
  .github/workflows/auto-merge-required-qa.workflow.yml
Due: lint-workflows

fix(actions): harden required QA runtime (#409)
  .agents/specs/2026-08-08-actions-runtime-hardening.md
  .github/workflows/auto-merge-required-qa.workflow.yml
Due: lint-workflows

task: refresh transport snapshots (#408)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#410)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

Path conditions:
  lint-deps: any of: **/*.{json}
  lint-workflows: any of: **/*.{yml,yaml}
  lint-angular: any of: **/*.{ts,tsx,js,jsx,html}
  eslint-staged: any of: **/*.{ts,tsx,js,jsx}
