Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lint-deps:
  run: pnpm run lint:deps

lint-workflows:
  run: pnpm run lint:workflows

lint-angular:
  run: pnpm run lint:unused

eslint-staged:
  run: pnpm run lint:staged -- {staged_files}
  depends_on:
  - lint-deps
  - lint-workflows
  - lint-angular

task: refresh transport snapshots (#412)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#413)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#414)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#415)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#416)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#417)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#418)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#420)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#421)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#422)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#423)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#424)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#425)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#426)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#427)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

ci(ui): publish pr visual evidence
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

ci(ui): clean pr visual evidence
  .github/workflows/pr-visual-evidence-cleanup.yml
Due: lint-workflows

docs(spec): require pr visual evidence
  .agents/specs/2026-08-25-pr-visual-evidence.md
Due: none

fix(ci): validate visual evidence on branch pushes
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

fix(ci): start visual evidence mock server
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

fix(ci): preserve angular cli path for evidence
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

docs(ui): require pr screenshot evidence
  AGENTS.md
Due: none

docs(ui): record mandatory pr screenshots
  docs/feature-checklist.md
Due: none

docs(spec): record visual evidence validation
  .agents/specs/2026-08-25-pr-visual-evidence.md
Due: none

fix(home): align root surface with base layout
  src/app/features/home/home.component.html
Due: lint-angular

fix(route-search): align root surface with base layout
  src/app/features/route-search/route-search.component.html
Due: lint-angular

Path conditions:
  lint-deps: any of: **/*.{json}
  lint-workflows: any of: **/*.{yml,yaml}
  lint-angular: any of: **/*.{ts,tsx,js,jsx,html}
  eslint-staged: any of: **/*.{ts,tsx,js,jsx}
