Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lint-deps:
  run: pnpm run lint:deps

lint-workflows:
  run: pnpm run lint:workflows

lint-angular:
  run: pnpm run lint:unused

eslint-staged:
  run: pnpm run lint:staged -- {staged_files}
  depends_on:
  - lint-deps
  - lint-workflows
  - lint-angular

docs(spec): close exact visual data validation
  .agents/specs/2026-08-30-deterministic-stop-detail-visual-data.md
Due: none

docs(pwa): define brand refresh and update lifecycle
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

test(pwa): define update lifecycle edge cases
  src/app/core/services/pwa-update.service.spec.ts
Due: lint-angular, eslint-staged

feat(pwa): adopt ready service worker versions
  src/app/core/services/pwa-update.service.ts
Due: lint-angular, eslint-staged

feat(pwa): initialize update lifecycle at app root
  src/app/app.ts
Due: lint-angular, eslint-staged

fix(pwa): align browser chrome with current theme
  src/index.html
Due: lint-angular

feat(pwa): refresh application icon
  public/favicon.svg
Due: none

fix(pwa): align install manifest with current brand
  public/manifest.webmanifest
Due: none

fix(pwa): check for updates at startup
  src/app/core/services/pwa-update.service.ts
Due: lint-angular, eslint-staged

test(pwa): cover update lifecycle edges
  src/app/core/services/pwa-update.service.spec.ts
Due: lint-angular, eslint-staged

test(app): provide pwa update lifecycle
  src/app/app.spec.ts
Due: lint-angular, eslint-staged

feat(pwa): add maskable install icon
  public/app-icon-maskable.svg
Due: none

fix(pwa): separate maskable install artwork
  public/manifest.webmanifest
Due: none

test(pwa): lock install shell contract
  scripts/pwa-shell.test.ts
Due: lint-angular, eslint-staged

docs(pwa): index install artwork
  docs/knowledge-map/repo-index/public.md
Due: none

docs(pwa): align install asset contract
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

test(coverage): emit machine-readable summary
  karma.conf.js
Due: none

test(coverage): gate critical pwa lifecycle
  scripts/dev/coverage-gates.mjs
Due: none

test(coverage): cover critical gate failures
  scripts/dev/coverage-gates.test.ts
Due: lint-angular, eslint-staged

test(coverage): enforce critical pwa threshold
  scripts/dev/run-angular-tests.mjs
Due: none

test(pwa): verify served install shell
  tests/playwright/pwa-shell.spec.ts
Due: lint-angular, eslint-staged

fix(coverage): pin summary output path
  karma.conf.js
Due: none

test(coverage): use native pwa threshold
  karma.conf.js
Due: none

test(coverage): isolate pwa coverage gate
  scripts/dev/run-angular-tests.mjs
Due: none

refactor(coverage): remove custom summary parser
  scripts/dev/coverage-gates.mjs
Due: none

test(coverage): remove obsolete parser tests
  scripts/dev/coverage-gates.test.ts
Due: lint-angular, eslint-staged

fix(pwa): apply approved transit identity
  .agents/specs/2026-08-31-pwa-brand-refresh.md
  docs/knowledge-map/repo-index/public.md
  public/app-icon-maskable.svg
  public/favicon.svg
  scripts/pwa-shell.test.ts
Due: lint-angular, eslint-staged

docs(pwa): lock exact approved icon reference
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

test(pwa): pin approved icon pixels
  scripts/pwa-shell.test.ts
  tests/playwright/pwa-shell.spec.ts
Due: lint-angular, eslint-staged

chore(pwa): add exact icon payload chunk 00
  scripts/pwa-icon/payload-00.txt
Due: none

chore(pwa): add exact icon payload chunk 02
  scripts/pwa-icon/payload-02.txt
Due: none

chore(pwa): add exact icon payload chunk 03
  scripts/pwa-icon/payload-03.txt
Due: none

docs(stops): define favorite management feedback
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

test(stops): define nucleus placeholder normalization
  src/app/data/stops/stop-metadata.util.spec.ts
Due: lint-angular, eslint-staged

fix(stops): normalize missing nucleus metadata
  src/app/data/stops/stop-metadata.util.ts
Due: lint-angular, eslint-staged

refactor(stops): expose canonical nucleus fallback
  src/app/data/stops/stop-metadata.util.ts
Due: lint-angular, eslint-staged

fix(stops): hide CTAN nucleus sentinel in directory
  src/app/domain/stops/stop-directory.facade.ts
Due: lint-angular, eslint-staged

fix(stops): normalize nearby stop nucleus
  src/app/core/services/nearby-stop-options.service.ts
Due: lint-angular, eslint-staged

fix(stops): normalize stop info nucleus
  src/app/data/stops/stop-info.service.ts
Due: lint-angular, eslint-staged

Path conditions:
  lint-deps: any of: **/*.{json}
  lint-workflows: any of: **/*.{yml,yaml}
  lint-angular: any of: **/*.{ts,tsx,js,jsx,html}
  eslint-staged: any of: **/*.{ts,tsx,js,jsx}
