Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-deps:
      glob: "**/*.{json}"
      run: pnpm run lint:deps
    lint-workflows:
      glob: "**/*.{yml,yaml}"
      run: pnpm run lint:workflows
    lint-angular:
      glob: "**/*.{ts,tsx,js,jsx,html}"
      run: pnpm run lint:unused
    eslint-staged:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: pnpm run lint:staged -- {staged_files}
      depends_on: [lint-deps, lint-workflows, lint-angular]

test(catalog): cover canonical consortium provinces
  src/app/data/catalog/consortium-catalog.service.spec.ts
Due: lint-angular, eslint-staged

feat(catalog): expose canonical consortium province
  src/app/data/catalog/consortium-catalog.service.ts
Due: lint-angular, eslint-staged

feat(lines): add province filter copy
  src/app/features/lines/lines-ui.copy.ts
Due: lint-angular, eslint-staged

feat(lines): filter directory by CTAN province
  src/app/features/lines/lines.component.ts
Due: lint-angular, eslint-staged

feat(lines): render province filter
  src/app/features/lines/lines.component.html
Due: lint-angular

style(lines): accommodate province filter
  src/app/features/lines/lines.component.scss
Due: none

test(lines): cover CTAN province filtering
  tests/playwright/lines-province-filter.spec.ts
Due: lint-angular, eslint-staged

fix(catalog): preserve legacy consortium fixtures
  src/app/data/catalog/consortium-catalog.service.ts
Due: lint-angular, eslint-staged

fix(lines): accept legacy missing province metadata
  src/app/features/lines/lines.component.ts
Due: lint-angular, eslint-staged

test(lines): gate province filtering
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

style(lines): format province browser coverage
  tests/playwright/lines-province-filter.spec.ts
Due: lint-angular, eslint-staged

test(lines): assert selected province semantics
  tests/playwright/lines-province-filter.spec.ts
Due: lint-angular, eslint-staged

docs(lines): close province filter validation
  .agents/specs/2026-08-29-lines-province-filter.md
Due: none

docs(lines): reconcile province source truth
  .agents/specs/2026-08-28-lines-discovery-route-layout.md
Due: none

docs(lines): refresh discovery execution ledger
  .agents/specs/2026-08-28-lines-discovery-route-layout-checklist.md
Due: none

docs(lines): track mobile province filter occlusion
  .agents/specs/2026-08-29-lines-province-filter.md
Due: none

test(lines): cover unobscured near-me action
  tests/playwright/lines-province-filter.spec.ts
Due: lint-angular, eslint-staged

refactor(lines): colocate near-me filter action
  src/app/features/lines/lines.component.html
Due: lint-angular

fix(lines): keep near-me action visible on mobile
  src/app/features/lines/lines.component.scss
Due: none

fix(lines): preserve desktop near-me layout
  src/app/features/lines/lines.component.scss
Due: none

docs(lines): record mobile filter validation
  .agents/specs/2026-08-29-lines-province-filter.md
Due: none

task: refresh transport snapshots
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#431)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

docs(ui): track map overlay and pagination contrast
  .agents/specs/2026-08-29-map-overlay-pagination-contrast.md
Due: none

test(ui): cover reported map and pagination regressions
  tests/playwright/pr36-visual-regressions.spec.ts
Due: lint-angular, eslint-staged

fix(map): overlay navigation on map canvas
  src/app/features/map/map.component.scss
Due: none

test(ui): compare pagination against hero foreground
  tests/playwright/pr36-visual-regressions.spec.ts
Due: lint-angular, eslint-staged

fix(lines): restore pagination contrast
  src/app/features/lines/lines.component.scss
Due: none

test(visual): freeze evidence clock consistently
  tests/playwright/visual-evidence.fixture.ts
Due: lint-angular, eslint-staged

test(lines): cover pagination hero contrast
  tests/playwright/theme.contrast.spec.ts
Due: lint-angular, eslint-staged

test(map): cover navigation overlay geometry
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

test(ui): remove duplicate regression spec
  tests/playwright/pr36-visual-regressions.spec.ts
Due: lint-angular, eslint-staged

style(lines): format pagination contrast test
  tests/playwright/theme.contrast.spec.ts
Due: lint-angular, eslint-staged

style(map): format navigation overlay test
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

test(lines): make pagination contrast locale independent
  tests/playwright/theme.contrast.spec.ts
Due: lint-angular, eslint-staged

fix(visual): separate baseline capture from head checks
  .github/workflows/pr-visual-regression.yml
  scripts/visual/capture-evidence.mjs
  scripts/visual/capture-evidence.test.ts
Due: lint-workflows, lint-angular, eslint-staged

fix(visual): preserve baseline evidence capture
  scripts/visual/capture-evidence.mjs
  scripts/visual/capture-evidence.test.ts
Due: lint-angular, eslint-staged

docs(visual): record overlay and contrast validation
  .agents/specs/2026-08-29-map-overlay-pagination-contrast.md
Due: none

docs(legal): define privacy compliance surfaces
  .agents/specs/2026-08-29-legal-privacy-storage.md
Due: none

test(legal): define privacy surface behavior
  src/app/features/legal/legal-content.spec.ts
  src/app/shared/privacy/storage-notice-state.service.spec.ts
Due: lint-angular, eslint-staged
