Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lint-deps:
  run: pnpm run lint:deps

lint-workflows:
  run: pnpm run lint:workflows

lint-angular:
  run: pnpm run lint:unused

eslint-staged:
  run: pnpm run lint:staged -- {staged_files}
  depends_on:
  - lint-deps
  - lint-workflows
  - lint-angular

style(map): format exploration browser test
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

test(map): stabilize exploration browser flow
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

docs(ui): define visual state audit
  .agents/specs/2026-08-26-visual-state-audit.md
Due: none

fix(navigation): reserve mobile shell space
  src/app/shared/layout/top-actions/app-shell-top-actions.component.scss
Due: none

fix(route-search): unify result surfaces
  src/app/features/route-search/route-search.component-states.scss
Due: none

test(map): decouple search from display code
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

docs(map): define workspace redesign
  .agents/specs/2026-08-26-map-workspace-redesign.md
Due: none

feat(map): add route direction geometry
  src/app/domain/map/route-overlay-geometry.spec.ts
  src/app/domain/map/route-overlay-geometry.ts
Due: lint-angular, eslint-staged

feat(map): style transport overlays
  src/app/shared/map/leaflet-map.service.ts
  src/styles.scss
  src/styles/_map.scss
Due: lint-angular, eslint-staged

fix(map): satisfy overlay lint
  src/app/shared/map/leaflet-map.service.ts
Due: lint-angular, eslint-staged

fix(map): propagate stop marker metadata
  src/app/features/map/map.component.ts
Due: lint-angular, eslint-staged

test(map): update nearby marker metadata
  src/app/features/map/map.component.spec.ts
Due: lint-angular, eslint-staged

test(map): update network marker metadata
  src/app/features/map/map.exploration.spec.ts
Due: lint-angular, eslint-staged

feat(map): structure transport workspace
  src/app/features/map/map.component.html
Due: lint-angular

style(map): expand transport workspace
  src/app/features/map/map.component.scss
Due: none

test(map): cover responsive workspace layout
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

fix(map): normalize route direction rotation
  src/app/domain/map/route-overlay-geometry.ts
Due: lint-angular, eslint-staged

docs(ui): define navigation hover feedback
  .agents/specs/2026-08-26-visual-state-audit.md
Due: none

feat(navigation): animate shell hover feedback
  src/app/shared/layout/top-actions/app-shell-top-actions.component.scss
Due: none

test(navigation): cover shell hover motion
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

test(map): use stable stop search identity
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

refactor(navigation): keep hover motion within budget
  src/app/shared/layout/top-actions/app-shell-top-actions.component.scss
Due: none

style(tests): format shell hover coverage
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

style(tests): format map exploration coverage
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

docs(map): define deterministic search acceptance
  .agents/specs/2026-08-26-map-all-stops-navigation.md
Due: none

test(map): derive search seed from directory
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

style(tests): format canonical map seed
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

docs(map): align acceptance with chunk source
  .agents/specs/2026-08-26-map-all-stops-navigation.md
Due: none

test(map): seed search from canonical chunks
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

test(autocomplete): cover dynamic result visibility
  src/app/shared/ui/forms/app-autocomplete.dynamic-options.spec.ts
Due: lint-angular, eslint-staged

fix(autocomplete): reveal dynamic results while focused
  src/app/shared/ui/forms/app-autocomplete.component.ts
Due: lint-angular, eslint-staged

test(map): activate focused marker deterministically
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

test(layout): guard shell title clearance
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

test(a11y): audit rendered surface contrast
  tests/playwright/theme.contrast.spec.ts
Due: lint-angular, eslint-staged

test(ui): cover deterministic data states
  tests/playwright/deterministic-visual-states.spec.ts
Due: lint-angular, eslint-staged

ci(ui): capture deterministic visual states
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

style(ui): format shell layout regression
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

style(a11y): format contrast audit
  tests/playwright/theme.contrast.spec.ts
Due: lint-angular, eslint-staged

fix(dialog): unify shared dialog surface
  src/styles/_components.scss
Due: none

fix(mock): isolate recent preview state
  src/app/data/route-search/route-search-preferences.storage.ts
Due: lint-angular, eslint-staged

Path conditions:
  lint-deps: any of: **/*.{json}
  lint-workflows: any of: **/*.{yml,yaml}
  lint-angular: any of: **/*.{ts,tsx,js,jsx,html}
  eslint-staged: any of: **/*.{ts,tsx,js,jsx}
