Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-deps:
      glob: "**/*.{json}"
      run: pnpm run lint:deps
    lint-workflows:
      glob: "**/*.{yml,yaml}"
      run: pnpm run lint:workflows
    lint-angular:
      glob: "**/*.{ts,tsx,js,jsx,html}"
      run: pnpm run lint:unused
    eslint-staged:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: pnpm run lint:staged -- {staged_files}
      depends_on: [lint-deps, lint-workflows, lint-angular]

docs(pwa): correct public asset index
  docs/knowledge-map/repo-index/public.md
Due: none

test(pwa): cover unavailable recovery storage
  src/app/core/services/pwa-update.service.spec.ts
Due: lint-angular, eslint-staged

fix(pwa): tolerate unavailable recovery storage
  src/app/core/services/pwa-update.service.ts
Due: lint-angular, eslint-staged

docs(pwa): record recovery storage hardening
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

docs(pwa): prove baseline squash equivalence
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

refactor(pwa): centralize install shell contract
  scripts/pwa-contract.ts
Due: lint-angular, eslint-staged

refactor(pwa): consume shared shell contract
  scripts/pwa-shell.test.ts
Due: lint-angular, eslint-staged

test(pwa): reuse shared shell contract
  tests/playwright/pwa-shell.spec.ts
Due: lint-angular, eslint-staged

docs(pwa): record shared shell contract
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

test(pwa): add explicit branch coverage gate
  scripts/dev/pwa-coverage-gate.mjs
  scripts/dev/pwa-coverage-gate.test.ts
Due: lint-angular, eslint-staged

fix(ci): enforce pwa branch coverage explicitly
  karma.conf.js
  scripts/dev/run-angular-tests.mjs
Due: none

fix(ci): verify focused pwa branch coverage
  karma.conf.js
  scripts/dev/pwa-coverage-gate.mjs
  scripts/dev/pwa-coverage-gate.test.ts
  scripts/dev/run-angular-tests.mjs
Due: lint-angular, eslint-staged

docs(pwa): record enforced branch coverage gate
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

ci(quality): enforce formatting check
  .github/workflows/ci.yml
Due: lint-workflows

revert(ci): avoid unrelated formatting baseline
  .github/workflows/ci.yml
Due: lint-workflows

fix(test): wait for coverage streams
  scripts/dev/run-angular-tests.mjs
Due: none

style(pwa): order node imports
  scripts/pwa-shell.test.ts
Due: lint-angular, eslint-staged

test(pwa): reproduce overlapping reloads
  src/app/core/services/pwa-update.service.spec.ts
Due: lint-angular, eslint-staged

fix(pwa): deduplicate overlapping reloads
  src/app/core/services/pwa-update.service.ts
Due: lint-angular, eslint-staged

docs(pwa): record review hardening
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

refactor(pwa): centralize recovery storage key
  src/app/core/services/pwa-update.config.ts
  src/app/core/services/pwa-update.service.spec.ts
  src/app/core/services/pwa-update.service.ts
Due: lint-angular, eslint-staged

docs(pwa): record recovery key owner
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

test(pwa): cover late unrecoverable marker claim
  src/app/core/services/pwa-update.service.spec.ts
Due: lint-angular, eslint-staged

fix(pwa): preserve reload recovery ownership
  src/app/core/services/pwa-update.service.ts
Due: lint-angular, eslint-staged

docs(pwa): record reload recovery ownership fix
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

docs(pwa): adopt exact svg identity source
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

Add SVG file for ChatGPT image from August 31, 2026
  public/ChatGPT Image 31 ago 2026, 12_42_59.svg
Due: none

fix(pwa): adopt supplied svg artwork
  public/ChatGPT Image 31 ago 2026, 12_42_59.svg
  public/favicon.svg
Due: none

test(pwa): validate supplied svg source
  scripts/pwa-contract.ts
  scripts/pwa-shell.test.ts
  tests/playwright/pwa-shell.spec.ts
Due: lint-angular, eslint-staged

test(pwa): enforce rendered icon in visual evidence
  tests/playwright/deterministic-visual-states.spec.ts
  tests/playwright/pwa-icon.assert.ts
  tests/playwright/pwa-shell.spec.ts
Due: lint-angular, eslint-staged

test(pwa): probe svg palette variants
  tests/playwright/pwa-icon.assert.ts
Due: lint-angular, eslint-staged

test(pwa): exhaust approved palette candidates
  tests/playwright/pwa-icon.assert.ts
Due: lint-angular, eslint-staged

test(pwa): keep exact icon render gate
  tests/playwright/pwa-icon.assert.ts
Due: lint-angular, eslint-staged

chore(pwa): remove obsolete icon payload fragments
  scripts/pwa-icon/payload-00.txt
  scripts/pwa-icon/payload-02.txt
  scripts/pwa-icon/payload-03.txt
Due: none

docs(pwa): record exact icon investigation
  .agents/specs/2026-08-31-pwa-brand-refresh.md
  docs/knowledge-map/repo-index/public.md
Due: none

test(pwa): pin supplied svg sha256
  scripts/pwa-contract.ts
  scripts/pwa-shell.test.ts
Due: lint-angular, eslint-staged

docs(pwa): record exact icon blockers
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

docs(pwa): record terminal visual evidence
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

fix(pwa): optimize canonical svg source
  public/favicon.svg
Due: none

test(pwa): pin optimized icon contract
  scripts/pwa-contract.ts
  scripts/pwa-shell.test.ts
Due: lint-angular, eslint-staged
