Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lint-deps:
  run: pnpm run lint:deps

lint-workflows:
  run: pnpm run lint:workflows

lint-angular:
  run: pnpm run lint:unused

eslint-staged:
  run: pnpm run lint:staged -- {staged_files}
  depends_on:
  - lint-deps
  - lint-workflows
  - lint-angular

fix(stop-detail): align root surface with base layout
  src/app/features/stop-detail/stop-detail.component.html
Due: lint-angular

fix(docs): reconcile base layout decision
  AGENTS.md
Due: none

fix(ci): make visual evidence replacement deterministic
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

docs(home): define mobile tab layout fix
  .agents/specs/2026-08-25-home-mobile-tabs.md
Due: none

test(home): cover mobile tab layout regression
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

test(home): type mobile tab layout helper
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

ci(ui): run home tab layout regression
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

fix(home): keep route planner tabs within mobile bounds
  src/app/features/home/home.component.scss
Due: none

fix(ci): serialize and validate visual evidence
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

ci(ui): show formatting diff on evidence failure
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

style(home): format mobile tab changes
  .agents/specs/2026-08-25-home-mobile-tabs.md
  .github/workflows/pr-visual-evidence.yml
  src/app/features/home/home.component.scss
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-workflows, lint-angular, eslint-staged

fix(deps): drop unused direct browser mapping dependency
  package.json
  pnpm-lock.yaml
Due: none

ci(ui): retain final visual evidence artifact
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

docs(home): complete mobile tab validation
  .agents/specs/2026-08-25-home-mobile-tabs.md
Due: none

chore: update Node.js version to 22.13.0 in package.json
  package.json
Due: none

docs(ui): define async feedback audit
  .agents/specs/2026-08-25-ui-async-feedback-audit.md
Due: none

refactor(geolocation): centralize failure classification
  src/app/core/services/geolocation-error.util.spec.ts
  src/app/core/services/geolocation-error.util.ts
Due: lint-angular, eslint-staged

feat(ui): add async feedback primitives
  src/styles.scss
  src/styles/_async-feedback.scss
Due: none

fix(route-search): model timetable loading states
  src/app/features/route-search/route-search.async.spec.ts
  src/app/features/route-search/route-search.component-states.scss
  src/app/features/route-search/route-search.component.html
  src/app/features/route-search/route-search.component.ts
Due: lint-angular, eslint-staged

fix(stop-detail): add recoverable schedule feedback
  src/app/features/stop-detail/stop-detail.component.html
  src/app/features/stop-detail/stop-detail.component.scss
  src/app/features/stop-detail/stop-detail.component.ts
Due: lint-angular, eslint-staged

fix(route-search): prevent duplicate async actions
  src/app/features/route-search/route-search-form/route-search-form.component.html
  src/app/features/route-search/route-search-form/route-search-form.component.scss
  src/app/features/route-search/route-search-form/route-search-form.component.spec.ts
  src/app/features/route-search/route-search-form/route-search-form.component.ts
Due: lint-angular, eslint-staged

feat(news): preserve content through async refresh
  src/app/domain/news/news.facade.spec.ts
  src/app/domain/news/news.facade.ts
  src/app/features/news/news.component.html
  src/app/features/news/news.component.scss
  src/app/features/news/news.component.spec.ts
  src/app/features/news/news.component.ts
Due: lint-angular, eslint-staged

feat(i18n): localize async feedback states
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: none

test(route-search): type duplicate submit deferred
  src/app/features/route-search/route-search-form/route-search-form.component.spec.ts
Due: lint-angular, eslint-staged

x
  nonexistent
Due: none

feat(map): surface async location feedback
  nonexistent
  src/app/features/map/map.component.html
  src/app/features/map/map.component.scss
  src/app/features/map/map.component.ts
Due: lint-angular, eslint-staged

feat(stop-info): improve async refresh feedback
  src/app/features/stop-info/stop-info.component.html
  src/app/features/stop-info/stop-info.component.scss
Due: lint-angular

fix(a11y): respect reduced motion in previews
  src/app/features/home/recent-searches/ui/recent-search-card/recent-search-card.component.scss
Due: none

docs(ui): close async feedback audit
  .agents/specs/2026-08-25-ui-async-feedback-audit.md
Due: none

docs(navigation): define shell quick access
  .agents/specs/2026-08-26-shell-quick-navigation.md
Due: none

feat(navigation): add shell quick access
  src/app/shared/layout/top-actions/app-shell-top-actions.component.html
  src/app/shared/layout/top-actions/app-shell-top-actions.component.scss
  src/app/shared/layout/top-actions/app-shell-top-actions.component.spec.ts
  src/app/shared/layout/top-actions/app-shell-top-actions.component.ts
Due: lint-angular, eslint-staged

test(navigation): cover shell quick links
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

test(navigation): accept canonical home url
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

docs(navigation): close shell quick access
  .agents/specs/2026-08-26-shell-quick-navigation.md
Due: none

task: refresh transport snapshots
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#428)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

docs(map): define all-stop exploration
  .agents/specs/2026-08-26-map-all-stops-navigation.md
Due: none

feat(stops): expose cached network records
  src/app/core/services/nearby-stops.service.ts
Due: lint-angular, eslint-staged

feat(map): enable interactive stop markers
  src/app/shared/map/leaflet-map.service.ts
Due: lint-angular, eslint-staged

Path conditions:
  lint-deps: any of: **/*.{json}
  lint-workflows: any of: **/*.{yml,yaml}
  lint-angular: any of: **/*.{ts,tsx,js,jsx,html}
  eslint-staged: any of: **/*.{ts,tsx,js,jsx}
