Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-deps:
      glob: "**/*.{json}"
      run: pnpm run lint:deps
    lint-workflows:
      glob: "**/*.{yml,yaml}"
      run: pnpm run lint:workflows
    lint-angular:
      glob: "**/*.{ts,tsx,js,jsx,html}"
      run: pnpm run lint:unused
    eslint-staged:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: pnpm run lint:staged -- {staged_files}
      depends_on: [lint-deps, lint-workflows, lint-angular]

test(news): await routed form synchronization
  src/app/features/news/news.component.spec.ts
Due: lint-angular, eslint-staged

fix(layout): extend every routed surface behind shell
  src/styles/_layout.scss
Due: none

test(e2e): follow progressive stop detail content
  tests/playwright/deterministic-visual-states.spec.ts
Due: lint-angular, eslint-staged

test(map): model canonical nearby line discovery
  tests/playwright/map-focused-lines.spec.ts
Due: lint-angular, eslint-staged

test(e2e): measure current map inspector contrast
  tests/playwright/theme.contrast.spec.ts
Due: lint-angular, eslint-staged

test(news): select sort order by visible label
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

test(news): cover English CTAN language fidelity
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

style(e2e): format current contrast coverage
  tests/playwright/theme.contrast.spec.ts
Due: lint-angular, eslint-staged

docs(news): define empty CTAN article filtering
  .agents/specs/2026-08-28-transit-discovery-stop-news.md
Due: none

test(news): reject empty CTAN article payloads
  src/app/data/news/news-feed.service.spec.ts
Due: lint-angular, eslint-staged

fix(news): hide unusable CTAN articles
  src/app/data/news/news-feed.service.ts
Due: lint-angular, eslint-staged

test(e2e): reject empty CTAN news rows
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

docs(pr): close transit follow-up
  .agents/specs/2026-08-28-transit-discovery-stop-news.md
Due: none

docs(spec): define lines discovery ux follow-up
  .agents/specs/2026-08-28-lines-discovery-route-layout.md
Due: none

docs(spec): add lines ux execution checklist
  .agents/specs/2026-08-28-lines-discovery-route-layout-checklist.md
Due: none

fix(home): align recent departure times
  src/app/features/home/recent-searches/ui/recent-search-preview-entry/recent-search-preview-entry.component.scss
Due: none

fix(route-search): remove fake default journey
  src/app/features/route-search/route-search.component.html
Due: lint-angular

fix(route-search): compact mobile search controls
  src/app/features/route-search/route-search-form/route-search-form.component.scss
Due: none

feat(route-search): keep search workspace sticky
  src/app/features/route-search/route-search.component.scss
Due: none

fix(route-search): stabilize mobile timetable columns
  src/app/features/route-search/route-search.component-timeline.scss
Due: none

test(route-search): cover compact result layout
  src/app/features/route-search/route-search.component.spec.ts
Due: lint-angular, eslint-staged

feat(lines): expose canonical catalog datasets
  src/app/data/catalog/consortium-catalog.service.ts
Due: lint-angular, eslint-staged

feat(lines): add canonical line directory service
  src/app/domain/lines/line-directory.service.ts
Due: lint-angular, eslint-staged

feat(lines): add localized directory copy
  src/app/features/lines/lines-ui.copy.ts
Due: lint-angular, eslint-staged

feat(lines): add filterable line directory
  src/app/features/lines/lines.component.ts
Due: lint-angular, eslint-staged

feat(lines): render browsable directory
  src/app/features/lines/lines.component.html
Due: lint-angular

style(lines): add responsive directory layout
  src/app/features/lines/lines.component.scss
Due: none

feat(lines): add directory route
  src/app/app.routes.ts
Due: lint-angular, eslint-staged

fix(navigation): point lines action to directory
  src/app/shared/layout/top-actions/app-shell-top-actions.component.ts
Due: lint-angular, eslint-staged

fix(navigation): label dedicated lines destination
  src/app/shared/layout/top-actions/app-shell-top-actions.component.html
Due: lint-angular

test(navigation): cover dedicated lines destination
  src/app/shared/layout/top-actions/app-shell-top-actions.component.spec.ts
Due: lint-angular, eslint-staged

fix(lines): keep line detail navigation active
  src/app/features/line-detail/line-detail.component.ts
Due: lint-angular, eslint-staged

test(lines): cover directory route
  src/app/app.routes.spec.ts
Due: lint-angular, eslint-staged

refactor(lines): centralize route direction geometry
  src/app/domain/lines/line-route-geometry.ts
Due: lint-angular, eslint-staged

refactor(lines): reuse canonical stop geometry fallback
  src/app/data/route-search/route-line-detail-with-stops.loader.ts
Due: lint-angular, eslint-staged

feat(map): add reusable route map component
  src/app/shared/map/route-map/route-map.component.ts
Due: lint-angular, eslint-staged

feat(map): add route map surface
  src/app/shared/map/route-map/route-map.component.html
Due: lint-angular

style(map): make route map responsive
  src/app/shared/map/route-map/route-map.component.scss
Due: none

feat(lines): add line detail copy
  src/app/features/line-detail/line-detail-ui.copy.ts
Due: lint-angular, eslint-staged

feat(lines): connect detail to shared route map
  src/app/features/line-detail/line-detail.component.ts
Due: lint-angular, eslint-staged
