Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-deps:
      glob: "**/*.{json}"
      run: pnpm run lint:deps
    lint-workflows:
      glob: "**/*.{yml,yaml}"
      run: pnpm run lint:workflows
    lint-angular:
      glob: "**/*.{ts,tsx,js,jsx,html}"
      run: pnpm run lint:unused
    eslint-staged:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: pnpm run lint:staged -- {staged_files}
      depends_on: [lint-deps, lint-workflows, lint-angular]

test(visual): isolate aggregate product checks
  scripts/visual/capture-evidence.mjs
Due: none

test(visual): keep historical favorites harness compatible
  tests/playwright/deterministic-visual-states.spec.ts
Due: lint-angular, eslint-staged

test(favorites): add aggregate product acceptance
  tests/playwright/favorites-aggregate.spec.ts
Due: lint-angular, eslint-staged

test(favorites): cover line favorite entry points
  tests/playwright/favorites-aggregate.spec.ts
Due: lint-angular, eslint-staged

fix(home): stop tab sync from hijacking navigation
  src/app/features/home/home.component.ts
Due: lint-angular, eslint-staged

fix(favorites): align mock line with catalog identity
  src/app/data/mock/home-mock-data.ts
Due: lint-angular, eslint-staged

test(favorites): pin canonical mock line identity
  src/app/data/lines/line-favorites.storage.spec.ts
Due: lint-angular, eslint-staged

test(favorites): verify canonical line favorite state
  tests/playwright/favorites-aggregate.spec.ts
Due: lint-angular, eslint-staged

test(favorites): locate saved line through directory search
  tests/playwright/favorites-aggregate.spec.ts
Due: lint-angular, eslint-staged

test(favorites): target canonical line directory state
  tests/playwright/favorites-aggregate.spec.ts
Due: lint-angular, eslint-staged

test(favorites): align exact line fixture with canonical favorite
  tests/playwright/visual-evidence.fixture.ts
Due: lint-angular, eslint-staged

test(visual): wait for populated favorites
  tests/playwright/deterministic-visual-states.spec.ts
Due: lint-angular, eslint-staged

docs(favorites): record aggregate validation
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

test(visual): approve aggregate favorites baseline
  .github/visual-baseline.json
Due: none

docs(favorites): close aggregate final review
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

fix(favorites): normalize line toggle identity
  src/app/domain/lines/line-favorites.service.spec.ts
  src/app/domain/lines/line-favorites.service.ts
Due: lint-angular, eslint-staged

style(e2e): sort favorites fixture import
  tests/playwright/favorites-aggregate.spec.ts
Due: lint-angular, eslint-staged

fix(stop-detail): recover favorite lookup per route
  src/app/features/stop-detail/stop-detail.component.spec.ts
  src/app/features/stop-detail/stop-detail.component.ts
Due: lint-angular, eslint-staged

refactor(lines): centralize favorite icon config
  src/app/features/lines/lines.component.ts
  src/app/features/lines/lines.config.ts
Due: lint-angular, eslint-staged

fix(favorites): localize copy and expose search retry
  src/app/features/favorites/favorites-ui.copy.ts
  src/app/features/favorites/favorites.component.html
  src/app/features/favorites/favorites.component.scss
  src/app/features/favorites/favorites.component.spec.ts
  src/app/features/favorites/favorites.component.ts
  src/app/features/home/favorites-preview/home-favorites-panel.component.html
  src/app/features/home/favorites-preview/home-favorites-panel.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-angular, eslint-staged

fix(ci): block visual evidence on forks
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

test(home): provide aggregate favorites translations
  src/app/features/home/home.component.spec.ts
Due: lint-angular, eslint-staged

fix(test): restore home coverage with favorites translations
  src/app/features/home/home.component.spec.ts
Due: lint-angular, eslint-staged

style(lines): satisfy feature import order
  src/app/features/lines/lines.component.ts
Due: lint-angular, eslint-staged

fix(favorites): describe aggregate clear action
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: none

docs(favorites): record review remediation
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

test(home): initialize favorites translations
  src/app/features/home/home.component.spec.ts
Due: lint-angular, eslint-staged

docs(favorites): finalize review remediation status
  .agents/specs/2026-08-31-stop-favorites-management.md
Due: none

test(line-detail): isolate translation loader
  src/app/features/line-detail/line-detail.component.spec.ts
Due: lint-angular, eslint-staged

fix(home): announce deferred favorites loading
  src/app/features/home/home.component.html
Due: lint-angular

refactor(routing): centralize descriptive slug normalization
  src/app/core/routing/url-slug.ts
Due: lint-angular, eslint-staged

test(routing): cover descriptive slug normalization
  src/app/core/routing/url-slug.spec.ts
Due: lint-angular, eslint-staged

refactor(routing): reuse canonical slug normalization
  src/app/domain/route-search/route-search-url.util.ts
Due: lint-angular, eslint-staged

feat(routing): support descriptive line detail slugs
  src/app/shared/navigation/navigation.util.ts
Due: lint-angular, eslint-staged

test(routing): cover descriptive line detail navigation
  src/app/shared/navigation/navigation.util.spec.ts
Due: lint-angular, eslint-staged

feat(routing): accept descriptive line detail paths
  src/app/app.routes.ts
Due: lint-angular, eslint-staged

test(routing): cover descriptive line detail route
  src/app/app.routes.spec.ts
Due: lint-angular, eslint-staged

fix(favorites): use descriptive line links on home
  src/app/features/home/favorites-preview/home-favorites-preview.component.ts
Due: lint-angular, eslint-staged

test(favorites): cover descriptive home line links
  src/app/features/home/favorites-preview/home-favorites-preview.component.spec.ts
Due: lint-angular, eslint-staged

fix(favorites): use descriptive line detail links
  src/app/features/favorites/favorites.component.ts
Due: lint-angular, eslint-staged
