Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-deps:
      glob: "**/*.{json}"
      run: pnpm run lint:deps
    lint-workflows:
      glob: "**/*.{yml,yaml}"
      run: pnpm run lint:workflows
    lint-angular:
      glob: "**/*.{ts,tsx,js,jsx,html}"
      run: pnpm run lint:unused
    eslint-staged:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: pnpm run lint:staged -- {staged_files}
      depends_on: [lint-deps, lint-workflows, lint-angular]

feat(lines): add expandable map and stops workspace
  src/app/features/line-detail/line-detail.component.html
Due: lint-angular

style(lines): lay out map and stops responsively
  src/app/features/line-detail/line-detail.component.scss
Due: none

style(lines): satisfy import ordering
  src/app/domain/lines/line-directory.service.ts
Due: lint-angular, eslint-staged

fix(lines): make nearby filtering reactive
  src/app/features/lines/lines.component.ts
Due: lint-angular, eslint-staged

style(navigation): satisfy import ordering
  src/app/shared/layout/top-actions/app-shell-top-actions.component.spec.ts
Due: lint-angular, eslint-staged

test(route-search): provide arrival accessibility copy
  src/app/features/route-search/route-search.component.spec.ts
Due: lint-angular, eslint-staged

test(lines): cover canonical catalog datasets
  src/app/data/catalog/consortium-catalog.service.spec.ts
Due: lint-angular, eslint-staged

test(lines): cover canonical route geometry
  src/app/domain/lines/line-route-geometry.spec.ts
Due: lint-angular, eslint-staged

feat(map): expose stop selection from shared markers
  src/app/shared/map/leaflet-map.service.ts
Due: lint-angular, eslint-staged

feat(map): synchronize route-map stop selection
  src/app/shared/map/route-map/route-map.component.ts
Due: lint-angular, eslint-staged

fix(map): restore route direction build
  src/app/shared/map/leaflet-map.service.ts
Due: lint-angular, eslint-staged

fix(map): rotate direction glyphs without plugin
  src/app/shared/map/leaflet-map.service.ts
Due: lint-angular, eslint-staged

feat(lines): synchronize map and stop selection
  src/app/features/line-detail/line-detail.component.html
  src/app/features/line-detail/line-detail.component.ts
Due: lint-angular, eslint-staged

test(map): cover route-map stop synchronization
  src/app/shared/map/route-map/route-map.component.spec.ts
Due: lint-angular, eslint-staged

fix(lines): label stop detail actions
  src/app/features/line-detail/line-detail.component.html
Due: lint-angular

test(lines): cover line detail map and stops
  src/app/features/line-detail/line-detail.component.spec.ts
Due: lint-angular, eslint-staged

test(lines): align line detail navigation fixture
  src/app/features/line-detail/line-detail.component.spec.ts
Due: lint-angular, eslint-staged

test(map): avoid closure narrowing in route-map assertions
  src/app/shared/map/route-map/route-map.component.spec.ts
Due: lint-angular, eslint-staged

test(e2e): cover lines directory and route map layout
  tests/playwright/lines-directory.layout.spec.ts
Due: lint-angular, eslint-staged

test(e2e): capture lines directory across breakpoints
  tests/playwright/lines-directory.layout.spec.ts
Due: lint-angular, eslint-staged

test(e2e): publish lines visual evidence
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

style(e2e): format lines visual tests
  tests/playwright/lines-directory.layout.spec.ts
Due: lint-angular, eslint-staged

style(ci): terminate visual workflow file
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

fix(map): restore canvas renderer contract
  src/app/shared/map/leaflet-map.service.ts
Due: lint-angular, eslint-staged

test(e2e): verify line stop canvas sync
  tests/playwright/lines-directory.layout.spec.ts
Due: lint-angular, eslint-staged

test(e2e): target current route-search contrast copy
  tests/playwright/theme.contrast.spec.ts
Due: lint-angular, eslint-staged

fix(route-search): strengthen hero description contrast
  src/app/features/route-search/route-search.component.scss
Due: none

test(e2e): measure route hero gradient contrast
  tests/playwright/theme.contrast.spec.ts
Due: lint-angular, eslint-staged

style(e2e): format gradient contrast assertion
  tests/playwright/theme.contrast.spec.ts
Due: lint-angular, eslint-staged

fix(ui): enforce accessible hero text contrast
  src/styles/_layout.scss
Due: none

refactor(route-search): use shared hero contrast
  src/app/features/route-search/route-search.component.scss
Due: none

fix(lines): preserve readable desktop line cards
  src/app/features/lines/lines.component.html
  src/app/features/lines/lines.component.scss
  tests/playwright/lines-directory.layout.spec.ts
Due: lint-angular, eslint-staged

fix(line-detail): keep stop names readable
  src/app/features/line-detail/line-detail.component.scss
  tests/playwright/lines-directory.layout.spec.ts
Due: lint-angular, eslint-staged

task: refresh transport snapshots
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#430)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

fix(line-detail): stack wide stop actions
  src/app/features/line-detail/line-detail.component.scss
Due: none

test(line-detail): measure stop action allocation
  tests/playwright/lines-directory.layout.spec.ts
Due: lint-angular, eslint-staged

docs(lines): record validated follow-up status
  .agents/specs/2026-08-28-lines-discovery-route-layout-checklist.md
  .agents/specs/2026-08-28-lines-discovery-route-layout.md
Due: none

docs(spec): define reusable route workspace disclosure
  .agents/specs/2026-08-28-route-workspace-schedule-disclosure.md
Due: none

refactor(lines): extract reusable route workspace
  src/app/domain/lines/line-route-geometry.spec.ts
  src/app/domain/lines/line-route-geometry.ts
  src/app/domain/lines/line-route-workspace.service.spec.ts
  src/app/domain/lines/line-route-workspace.service.ts
  src/app/features/line-detail/line-detail.component.html
  src/app/features/line-detail/line-detail.component.scss
  src/app/features/line-detail/line-detail.component.spec.ts
  src/app/features/line-detail/line-detail.component.ts
  src/app/shared/map/route-map/route-map.component.scss
  src/app/shared/map/route-workspace/transit-route-workspace.component.html
  src/app/shared/map/route-workspace/transit-route-workspace.component.scss
  src/app/shared/map/route-workspace/transit-route-workspace.component.spec.ts
  src/app/shared/map/route-workspace/transit-route-workspace.component.ts
Due: lint-angular, eslint-staged
