Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-deps:
      glob: "**/*.{json}"
      run: pnpm run lint:deps
    lint-workflows:
      glob: "**/*.{yml,yaml}"
      run: pnpm run lint:workflows
    lint-angular:
      glob: "**/*.{ts,tsx,js,jsx,html}"
      run: pnpm run lint:unused
    eslint-staged:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: pnpm run lint:staged -- {staged_files}
      depends_on: [lint-deps, lint-workflows, lint-angular]

test(ui): cover async and dialog browser states
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

ci(ui): publish interaction state evidence
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

docs(ui): update visual audit evidence
  .agents/specs/2026-08-26-visual-state-audit.md
Due: none

docs(ui): checkpoint exact-head validation
  .agents/specs/2026-08-26-visual-state-audit.md
Due: none

style(ui): format shared component styles
  src/styles/_components.scss
Due: none

style(tests): format interaction state coverage
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

refactor(mock): keep preview fixtures out of runtime storage
  src/app/data/route-search/route-search-preferences.storage.ts
Due: lint-angular, eslint-staged

test(mock): seed deterministic preview preference
  scripts/dev/start-with-mock-mode.mjs
Due: none

fix(mock): bootstrap runtime flags before angular
  scripts/dev/runtime-flags-bootstrap.mjs
  scripts/dev/runtime-flags-bootstrap.test.ts
  scripts/dev/start-with-mock-mode.mjs
  scripts/dev/start-with-snapshot.mjs
  scripts/run-tests.cjs
Due: lint-angular, eslint-staged

docs(ui): define immersive transit navigation
  .agents/specs/2026-08-26-immersive-transit-navigation.md
Due: none

feat(navigation): add mobile transit dock
  src/app/shared/layout/app-layout/app-layout.component.scss
  src/app/shared/layout/top-actions/app-shell-top-actions.component.html
  src/app/shared/layout/top-actions/app-shell-top-actions.component.scss
  src/app/shared/layout/top-actions/app-shell-top-actions.component.ts
Due: lint-angular, eslint-staged

test(navigation): cover primary transit dock
  src/app/shared/layout/top-actions/app-shell-top-actions.component.spec.ts
Due: lint-angular, eslint-staged

test(navigation): initialize translation fixture
  src/app/shared/layout/top-actions/app-shell-top-actions.component.spec.ts
Due: lint-angular, eslint-staged

feat(map): make network workspace immersive
  src/app/features/map/map.component.html
  src/app/features/map/map.component.scss
  src/styles/_map.scss
Due: lint-angular

test(map): cover immersive workspace layout
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

style(ui): keep immersive surfaces within budgets
  src/app/features/map/map.component.scss
  src/app/shared/layout/top-actions/app-shell-top-actions.component.scss
  src/styles/_map.scss
Due: none

style(map): format immersive map evidence
  src/app/features/map/map.component.html
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

docs(map): define road geometry and focused lines
  .agents/specs/2026-08-26-map-workspace-redesign.md
Due: none

test(map): cover official line geometry adapter
  src/app/data/route-search/route-lines-api.service.spec.ts
Due: lint-angular, eslint-staged

feat(map): consume official CTAN line geometry
  src/app/data/route-search/route-lines-api.service.ts
Due: lint-angular, eslint-staged

test(map): cover official road segment geometry
  src/app/domain/map/route-overlay-geometry.spec.ts
Due: lint-angular, eslint-staged

feat(map): segment official route geometry
  src/app/domain/map/route-overlay-geometry.ts
Due: lint-angular, eslint-staged

feat(map): render official route geometry
  src/app/domain/map/route-overlay.facade.spec.ts
  src/app/domain/map/route-overlay.facade.ts
Due: lint-angular, eslint-staged

feat(map): discover lines in focused area
  src/app/features/map/map.component.html
  src/app/features/map/map.component.spec.ts
  src/app/features/map/map.component.ts
  src/app/shared/map/leaflet-map.service.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-angular, eslint-staged

style(map): format focused lines panel
  src/app/features/map/map.component.html
Due: lint-angular

style(map): sort leaflet imports
  src/app/shared/map/leaflet-map.service.ts
Due: lint-angular, eslint-staged

test(map): align viewport handle stubs
  src/app/features/map/map.component.spec.ts
  src/app/features/map/map.exploration.spec.ts
Due: lint-angular, eslint-staged

refactor(map): lazy load line geometry parser
  src/app/data/route-search/route-line-detail.mapper.ts
  src/app/data/route-search/route-lines-api.service.ts
Due: lint-angular, eslint-staged

refactor(map): lazy load nearby line lookup
  src/app/data/route-search/route-lines-api.service.ts
  src/app/data/route-search/route-lines-nearby.loader.ts
Due: lint-angular, eslint-staged

test(map): provide focused line adapter
  src/app/features/map/map.exploration.spec.ts
Due: lint-angular, eslint-staged

refactor(map): lazy cache line details
  src/app/data/route-search/route-line-detail.mapper.ts
  src/app/data/route-search/route-lines-api.service.ts
Due: lint-angular, eslint-staged

test(map): await lazy line adapters
  src/app/data/route-search/route-lines-api.service.spec.ts
Due: lint-angular, eslint-staged

test(map): stabilize lazy CTAN adapter specs
  src/app/data/route-search/route-lines-api.service.spec.ts
Due: lint-angular, eslint-staged

docs(shell): define overflow navigation drawer
  .agents/specs/2026-08-26-shell-quick-navigation.md
Due: none

feat(shell): replace overflow menu with drawer
  src/app/shared/layout/top-actions/app-shell-top-actions.component.html
  src/app/shared/layout/top-actions/app-shell-top-actions.component.scss
  src/app/shared/layout/top-actions/app-shell-top-actions.component.spec.ts
  src/app/shared/layout/top-actions/app-shell-top-actions.component.ts
Due: lint-angular, eslint-staged

fix(shell): satisfy drawer interaction lint
  src/app/shared/layout/top-actions/app-shell-top-actions.component.html
  src/app/shared/layout/top-actions/app-shell-top-actions.component.spec.ts
Due: lint-angular, eslint-staged

perf(shell): trim drawer bootstrap cost
  src/app/shared/layout/top-actions/app-shell-top-actions.component.html
  src/app/shared/layout/top-actions/app-shell-top-actions.component.scss
  src/app/shared/layout/top-actions/app-shell-top-actions.component.ts
Due: lint-angular, eslint-staged

fix(shell): synchronize drawer dismissal
  src/app/shared/layout/top-actions/app-shell-top-actions.component.html
  src/app/shared/layout/top-actions/app-shell-top-actions.component.scss
  src/app/shared/layout/top-actions/app-shell-top-actions.component.spec.ts
  src/app/shared/layout/top-actions/app-shell-top-actions.component.ts
Due: lint-angular, eslint-staged

perf(shell): derive drawer state natively
  src/app/shared/layout/top-actions/app-shell-top-actions.component.html
  src/app/shared/layout/top-actions/app-shell-top-actions.component.scss
  src/app/shared/layout/top-actions/app-shell-top-actions.component.ts
Due: lint-angular, eslint-staged
