Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-deps:
      glob: "**/*.{json}"
      run: pnpm run lint:deps
    lint-workflows:
      glob: "**/*.{yml,yaml}"
      run: pnpm run lint:workflows
    lint-angular:
      glob: "**/*.{ts,tsx,js,jsx,html}"
      run: pnpm run lint:unused
    eslint-staged:
      glob: "**/*.{ts,tsx,js,jsx}"
      run: pnpm run lint:staged -- {staged_files}
      depends_on: [lint-deps, lint-workflows, lint-angular]

fix(map): enforce shared route workspace height
  src/app/shared/map/route-map/route-map.component.scss
  src/app/shared/map/route-workspace/transit-route-workspace.component.scss
  tests/playwright/lines-directory.layout.spec.ts
Due: lint-angular, eslint-staged

feat(route-search): add lazy route preview component
  src/app/features/line-detail/line-detail-ui.copy.ts
  src/app/features/route-search/departure-route-preview/route-search-departure-route-preview.component.html
  src/app/features/route-search/departure-route-preview/route-search-departure-route-preview.component.scss
  src/app/features/route-search/departure-route-preview/route-search-departure-route-preview.component.spec.ts
  src/app/features/route-search/departure-route-preview/route-search-departure-route-preview.component.ts
  src/app/shared/map/route-workspace/transit-route-workspace.copy.ts
Due: lint-angular, eslint-staged

feat(route-search): expose route previews in schedules
  src/app/features/route-search/route-search.component.html
  src/app/features/route-search/route-search.component.spec.ts
  src/app/features/route-search/route-search.component.ts
Due: lint-angular, eslint-staged

style(route-search): fix preview import order
  src/app/features/route-search/departure-route-preview/route-search-departure-route-preview.component.ts
Due: lint-angular, eslint-staged

test(route-search): exercise native route disclosure
  src/app/features/route-search/departure-route-preview/route-search-departure-route-preview.component.spec.ts
Due: lint-angular, eslint-staged

test(e2e): cover schedule route workspace
  tests/playwright/lines-directory.layout.spec.ts
Due: lint-angular, eslint-staged

style(e2e): format route workspace coverage
  tests/playwright/lines-directory.layout.spec.ts
Due: lint-angular, eslint-staged

style(e2e): preserve final newline
  tests/playwright/lines-directory.layout.spec.ts
Due: lint-angular, eslint-staged

docs(spec): record route workspace validation
  .agents/specs/2026-08-28-lines-discovery-route-layout-checklist.md
  .agents/specs/2026-08-28-route-workspace-schedule-disclosure.md
Due: none

test(visual): define exact screenshot comparison
  scripts/visual/compare-evidence.mjs
  scripts/visual/compare-evidence.test.ts
  scripts/visual/evidence-assets.mjs
Due: lint-angular, eslint-staged

ci(visual): gate screenshots against reviewed baseline
  .github/visual-baseline.json
  .github/workflows/pr-visual-regression.yml
  scripts/visual/capture-evidence.mjs
  scripts/visual/determinize-map-tiles.js
Due: lint-workflows, lint-angular, eslint-staged

fix(ci): use supported visual runner label
  .github/workflows/pr-visual-regression.yml
Due: lint-workflows

docs(agent): track exact visual regression harness
  .agents/specs/2026-08-28-exact-visual-regression-harness.md
Due: none

test(visual): centralize deterministic evidence capture
  tests/playwright/visual-evidence.fixture.ts
Due: lint-angular, eslint-staged

test(visual): freeze stop-detail evidence
  tests/playwright/deterministic-visual-states.spec.ts
Due: lint-angular, eslint-staged

test(visual): settle shell evidence before capture
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

test(visual): settle route map evidence
  tests/playwright/lines-directory.layout.spec.ts
Due: lint-angular, eslint-staged

test(visual): stabilize interaction evidence
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

fix(visual): use one current capture harness
  scripts/visual/capture-evidence.mjs
Due: none

test(visual): scope exact regression mode
  scripts/visual/capture-evidence.mjs
Due: none

test(visual): isolate exact evidence stabilization
  tests/playwright/visual-evidence.fixture.ts
Due: lint-angular, eslint-staged

style(visual): format shell evidence capture
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

test(visual): normalize exact capture scroll
  tests/playwright/visual-evidence.fixture.ts
Due: lint-angular, eslint-staged

test(visual): stabilize exact capture state
  tests/playwright/visual-evidence.fixture.ts
Due: lint-angular, eslint-staged

test(map): disable motion in hover marker check
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

style(map): preserve playwright newline
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

test(map): use deterministic stop for hover check
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

style(map): format deterministic hover check
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

test(map): assert marker highlight state
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

test(e2e): pin exact visual data inputs
  tests/playwright/visual-evidence.fixture.ts
Due: lint-angular, eslint-staged

test(visual): reset nested exact capture scroll
  tests/playwright/visual-evidence.fixture.ts
Due: lint-angular, eslint-staged

docs(visual): record exact regression validation
  .agents/specs/2026-08-28-exact-visual-regression-harness.md
Due: none

docs(agent): synchronize PR closure index
  .agents/specs/2026-08-27-pr36-completion-tracker.md
  docs/knowledge-map/repo-index/scripts.md
  docs/knowledge-map/repo-index/tests.md
Due: none

docs(lines): define CTAN province filter
  .agents/specs/2026-08-29-lines-province-filter.md
Due: none

test(snapshot): cover CTAN consortium provinces
  scripts/snapshot/consortiums.test.ts
Due: lint-angular, eslint-staged

feat(snapshot): load canonical CTAN provinces
  scripts/snapshot/consortiums.ts
Due: lint-angular, eslint-staged

test(snapshot): preserve province in catalog metadata
  scripts/snapshot/catalog-generator.test.ts
Due: lint-angular, eslint-staged

feat(snapshot): carry province through catalog metadata
  scripts/snapshot/catalog-generator.ts
Due: lint-angular, eslint-staged

feat(snapshot): persist consortium provinces
  scripts/snapshot/run.ts
Due: lint-angular, eslint-staged

data(catalog): backfill CTAN consortium provinces
  src/assets/data/catalog/index.json
Due: none
