Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lint-deps:
  run: pnpm run lint:deps

lint-workflows:
  run: pnpm run lint:workflows

lint-angular:
  run: pnpm run lint:unused

eslint-staged:
  run: pnpm run lint:staged -- {staged_files}
  depends_on:
  - lint-deps
  - lint-workflows
  - lint-angular

feat(map): render the full stop network
  src/app/features/map/map.component.ts
Due: lint-angular, eslint-staged

test(map): cover full network exploration
  src/app/features/map/map.exploration.spec.ts
Due: lint-angular, eslint-staged

test(map): satisfy exploration lint rules
  src/app/features/map/map.exploration.spec.ts
Due: lint-angular, eslint-staged

fix(map): preserve nearby fallback markers
  src/app/features/map/map.component.ts
Due: lint-angular, eslint-staged

fix(map): expose network loading semantics
  src/app/features/map/map.component.html
Due: lint-angular

test(map): verify network exploration in browser
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

test(map): capture interactive network evidence
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

docs(map): define interactive exploration controls
  .agents/specs/2026-08-26-map-all-stops-navigation.md
Due: none

feat(map): add searchable network targets
  src/app/features/map/map-search.util.ts
Due: lint-angular, eslint-staged

feat(map): expose stop area metadata
  src/app/core/services/nearby-stops.loader.ts
Due: lint-angular, eslint-staged

test(map): cover stop and area search targets
  src/app/features/map/map-search.util.spec.ts
Due: lint-angular, eslint-staged

feat(map): add marker popovers and camera focus
  src/app/shared/map/leaflet-map.service.ts
Due: lint-angular, eslint-staged

feat(map): constrain viewport to network
  src/app/shared/map/leaflet-map.service.ts
Due: lint-angular, eslint-staged

feat(map): add network search control
  src/app/features/map/map-search.component.ts
Due: lint-angular, eslint-staged

feat(map): render network search control
  src/app/features/map/map-search.component.html
Due: lint-angular

docs(map): define stop identity fix
  .agents/specs/2026-08-26-map-stop-identity.md
Due: none

test(stops): cover cross-consortium identities
  src/app/core/services/nearby-stops.loader.spec.ts
Due: lint-angular, eslint-staged

fix(stops): preserve consortium-local identifiers
  src/app/core/services/nearby-stops.loader.ts
Due: lint-angular, eslint-staged

fix(stops): resolve nearby options by consortium
  src/app/core/services/nearby-stop-options.service.ts
Due: lint-angular, eslint-staged

style(map): fix exploration lint regressions
  src/app/core/services/nearby-stops.loader.ts
  src/app/features/map/map-search.component.scss
  src/app/features/map/map-search.component.ts
Due: lint-angular, eslint-staged

refactor(stops): centralize composite stop identity
  src/app/core/services/nearby-stops.loader.ts
  src/app/core/services/stop-identity.util.ts
  src/app/features/map/map-search.util.spec.ts
  src/app/features/map/map-search.util.ts
Due: lint-angular, eslint-staged

feat(map): integrate network search and marker focus
  src/app/features/map/map-search.component.html
  src/app/features/map/map-search.component.ts
  src/app/features/map/map.component.html
  src/app/features/map/map.component.ts
Due: lint-angular, eslint-staged

test(route-search): preserve nearby consortium identity
  src/app/features/route-search/route-search-form/route-search-form.component.spec.ts
Due: lint-angular, eslint-staged

test(map): align exploration contracts
  src/app/features/map/map.exploration.spec.ts
Due: lint-angular, eslint-staged

test(map): migrate component stubs to exploration api
  src/app/features/map/map.component.spec.ts
Due: lint-angular, eslint-staged

style(map): satisfy exploration test checks
  src/app/features/map/map.exploration.spec.ts
Due: lint-angular, eslint-staged

style(map): satisfy component test lint
  src/app/features/map/map.component.spec.ts
Due: lint-angular, eslint-staged

feat(stops): expose composite record lookup
  src/app/domain/stops/stop-directory.facade.ts
Due: lint-angular, eslint-staged

fix(schedule): preserve snapshot stop identity
  src/app/data/services/stop-schedule-snapshot.repository.ts
Due: lint-angular, eslint-staged

feat(schedule): carry consortium context
  src/app/domain/stop-schedule/stop-schedule.facade.ts
Due: lint-angular, eslint-staged

fix(schedule): resolve consortium-specific stops
  src/app/data/services/stop-schedule.service.ts
Due: lint-angular, eslint-staged

test(schedule): cover consortium-specific snapshot lookup
  src/app/data/services/stop-schedule.service.spec.ts
Due: lint-angular, eslint-staged

test(map): cover motion-aware search focus
  src/app/features/map/map.exploration.spec.ts
Due: lint-angular, eslint-staged

test(stop-detail): cover consortium route context
  src/app/features/stop-detail/stop-detail.component.spec.ts
Due: lint-angular, eslint-staged

fix(stop-detail): preserve consortium route context
  src/app/features/stop-detail/stop-detail.component.ts
Due: lint-angular, eslint-staged

style(map): format exploration template
  src/app/features/map/map.component.html
Due: lint-angular

test(map): exercise popup and search navigation
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

style(ci): format visual evidence workflow
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

test(map): verify nearby marker correlation
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

style(map): match prettier output
  src/app/features/map/map.component.html
Due: lint-angular

Path conditions:
  lint-deps: any of: **/*.{json}
  lint-workflows: any of: **/*.{yml,yaml}
  lint-angular: any of: **/*.{ts,tsx,js,jsx,html}
  eslint-staged: any of: **/*.{ts,tsx,js,jsx}
