Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lint-deps:
  run: pnpm run lint:deps

lint-workflows:
  run: pnpm run lint:workflows

lint-angular:
  run: pnpm run lint:unused

eslint-staged:
  run: pnpm run lint:staged -- {staged_files}
  depends_on:
  - lint-deps
  - lint-workflows
  - lint-angular

fix(pwa): preserve source while optimizing delivery
  public/favicon.svg
  scripts/deploy/run.ts
  scripts/pwa-contract.ts
  scripts/pwa-icon-output.ts
  scripts/pwa-shell.test.ts
  tests/playwright/pwa-icon.assert.ts
Due: lint-angular, eslint-staged

test(pwa): restore approved render contract
  scripts/pwa-contract.ts
Due: lint-angular, eslint-staged

docs(pwa): record restored visual contract
  .agents/specs/2026-08-31-pwa-brand-refresh.md
  docs/knowledge-map/repo-index/public.md
Due: none

fix(pwa): refresh service worker after icon optimization
  scripts/deploy/run.ts
Due: lint-angular, eslint-staged

chore(pwa): use pinned service worker cli
  scripts/deploy/run.ts
Due: lint-angular, eslint-staged

docs(pwa): record service worker integrity
  .agents/specs/2026-08-31-pwa-brand-refresh.md
  docs/knowledge-map/repo-index/public.md
Due: none

test(pwa): pin canonical icon line endings
  .gitattributes
  scripts/pwa-shell.test.ts
Due: lint-angular, eslint-staged

docs(pwa): record canonical icon delivery policy
  AGENTS.md
Due: none

docs(pwa): record canonical icon checkout evidence
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

fix(pwa): honor canonical svg render identity
  scripts/pwa-contract.ts
Due: lint-angular, eslint-staged

docs(pwa): record canonical svg authority
  .agents/specs/2026-08-31-pwa-brand-refresh.md
  docs/knowledge-map/repo-index/public.md
Due: none

test(visual): repair squash baseline ancestry
  .github/visual-baseline.json
Due: none

refactor(visual): expose product check mode to specs
  scripts/visual/capture-evidence.mjs
Due: none

fix(visual): isolate head-only pwa product check
  tests/playwright/deterministic-visual-states.spec.ts
Due: lint-angular, eslint-staged

docs(pwa): record green visual regression
  .agents/specs/2026-08-31-pwa-brand-refresh.md
Due: none

fix(pwa): refresh install identity and update lifecycle (#438)
  .agents/specs/2026-08-31-pwa-brand-refresh.md
  .gitattributes
  .github/visual-baseline.json
  AGENTS.md
  docs/knowledge-map/repo-index/public.md
  karma.conf.js
  public/favicon.svg
  public/manifest.webmanifest
  scripts/deploy/run.ts
  scripts/dev/pwa-coverage-gate.mjs
  scripts/dev/pwa-coverage-gate.test.ts
  scripts/dev/run-angular-tests.mjs
  scripts/pwa-contract.ts
  scripts/pwa-icon-output.ts
  scripts/pwa-shell.test.ts
  scripts/visual/capture-evidence.mjs
  src/app/app.spec.ts
  src/app/app.ts
  src/app/core/services/pwa-update.config.ts
  src/app/core/services/pwa-update.service.spec.ts
  src/app/core/services/pwa-update.service.ts
  src/index.html
  tests/playwright/deterministic-visual-states.spec.ts
  tests/playwright/pwa-icon.assert.ts
  tests/playwright/pwa-shell.spec.ts
Due: lint-angular, eslint-staged

Improve schedule search mobile layout and add stop departure alarms
  src/app/app.ts
  src/app/core/config.ts
  src/app/core/services/notification-permission.service.spec.ts
  src/app/core/services/notification-permission.service.ts
  src/app/data/stop-alarms/stop-alarms.storage.spec.ts
  src/app/data/stop-alarms/stop-alarms.storage.ts
  src/app/domain/stop-alarms/alarm-scheduler.service.spec.ts
  src/app/domain/stop-alarms/alarm-scheduler.service.ts
  src/app/domain/stop-alarms/stop-alarm.model.spec.ts
  src/app/domain/stop-alarms/stop-alarm.model.ts
  src/app/domain/stop-alarms/stop-alarms.service.spec.ts
  src/app/domain/stop-alarms/stop-alarms.service.ts
  src/app/features/route-search/route-search-form/route-search-form.component.html
  src/app/features/route-search/route-search-form/route-search-form.component.scss
  src/app/features/route-search/route-search-form/route-search-form.component.ts
  src/app/features/stop-detail/stop-alarm-dialog/stop-alarm-dialog.component.html
  src/app/features/stop-detail/stop-alarm-dialog/stop-alarm-dialog.component.scss
  src/app/features/stop-detail/stop-alarm-dialog/stop-alarm-dialog.component.spec.ts
  src/app/features/stop-detail/stop-alarm-dialog/stop-alarm-dialog.component.ts
  src/app/features/stop-detail/stop-detail.component-list.scss
  src/app/features/stop-detail/stop-detail.component.html
  src/app/features/stop-detail/stop-detail.component.ts
  src/app/shared/ui/dialog/overlay-dialog.service.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
  src/styles.scss
  src/styles/_components.scss
Due: lint-angular, eslint-staged

docs: add spec for mobile search layout and departure alarms
  .agents/specs/2026-09-21-schedule-search-mobile-and-departure-alarms.md
Due: none

Add alarms to route-search results and new Alarms page
  src/app/app.routes.ts
  src/app/core/config.ts
  src/app/core/services/notification-permission.service.ts
  src/app/data/stop-alarms/stop-alarms.storage.spec.ts
  src/app/data/stop-alarms/stop-alarms.storage.ts
  src/app/domain/stop-alarms/alarm-scheduler.service.spec.ts
  src/app/domain/stop-alarms/alarm-scheduler.service.ts
  src/app/domain/stop-alarms/stop-alarm.model.spec.ts
  src/app/domain/stop-alarms/stop-alarm.model.ts
  src/app/domain/stop-alarms/stop-alarms.service.spec.ts
  src/app/domain/stop-alarms/stop-alarms.service.ts
  src/app/features/alarms/alarms.component.html
  src/app/features/alarms/alarms.component.scss
  src/app/features/alarms/alarms.component.spec.ts
  src/app/features/alarms/alarms.component.ts
  src/app/features/route-search/route-search.component-timeline.scss
  src/app/features/route-search/route-search.component.html
  src/app/features/route-search/route-search.component.spec.ts
  src/app/features/route-search/route-search.component.ts
  src/app/shared/layout/top-actions/app-shell-top-actions.component.spec.ts
  src/app/shared/layout/top-actions/app-shell-top-actions.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-angular, eslint-staged

Move the route-search alarm bell inline with the line chip
  src/app/features/route-search/route-search.component-timeline.scss
  src/app/features/route-search/route-search.component.html
Due: lint-angular

Refine route direction rendering, countdowns and recent-search previews
  docs/specs/2026-09-21-route-direction-trip-experience.md
  src/app/domain/lines/line-route-geometry.spec.ts
  src/app/domain/lines/line-route-geometry.ts
  src/app/domain/lines/line-route-workspace.service.spec.ts
  src/app/domain/lines/line-route-workspace.service.ts
  src/app/domain/route-search/route-search-preview.service.spec.ts
  src/app/domain/route-search/route-search-preview.service.ts
  src/app/domain/route-search/route-search-results.service.spec.ts
  src/app/domain/route-search/route-search-results.service.ts
  src/app/features/home/recent-searches/home-recent-searches.component.html
  src/app/features/home/recent-searches/home-recent-searches.component.spec.ts
  src/app/features/home/recent-searches/home-recent-searches.component.ts
  src/app/features/home/recent-searches/recent-searches.models.ts
  src/app/features/home/recent-searches/ui/recent-search-card/recent-search-card.component.html
  src/app/features/home/recent-searches/ui/recent-search-card/recent-search-card.component.scss
  src/app/features/home/recent-searches/ui/recent-search-card/recent-search-card.component.spec.ts
  src/app/features/home/recent-searches/ui/recent-search-card/recent-search-card.component.ts
  src/app/features/home/recent-searches/ui/recent-search-preview-entry/recent-search-preview-entry.component.html
  src/app/features/home/recent-searches/ui/recent-search-preview-entry/recent-search-preview-entry.component.scss
  src/app/features/home/recent-searches/ui/recent-search-preview-entry/recent-search-preview-entry.component.spec.ts
  src/app/features/line-detail/line-detail.component.html
  src/app/features/line-detail/line-detail.component.spec.ts
  src/app/features/route-search/departure-route-preview/route-search-departure-route-preview.component.html
  src/app/features/route-search/departure-route-preview/route-search-departure-route-preview.component.spec.ts
  src/app/features/route-search/departure-route-preview/route-search-departure-route-preview.component.ts
  src/app/shared/map/leaflet-map.service.ts
  src/app/shared/map/map-marker-style.spec.ts
  src/app/shared/map/map-marker-style.ts
  src/app/shared/map/route-map/route-map.component.spec.ts
  src/app/shared/map/route-map/route-map.component.ts
  src/app/shared/map/route-workspace/transit-route-workspace.component.html
  src/app/shared/map/route-workspace/transit-route-workspace.component.scss
  src/app/shared/map/route-workspace/transit-route-workspace.component.spec.ts
  src/app/shared/map/route-workspace/transit-route-workspace.component.ts
  src/app/shared/map/route-workspace/transit-route-workspace.copy.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-angular, eslint-staged

Add pinned departure tracking and live trip following (N2, N1)
  AGENTS.md
  src/app/app.routes.ts
  src/app/core/config.ts
  src/app/core/services/geolocation.service.spec.ts
  src/app/core/services/geolocation.service.ts
  src/app/data/route-search/pinned-departure.storage.spec.ts
  src/app/data/route-search/pinned-departure.storage.ts
  src/app/data/route-search/route-search-history.storage.ts
  src/app/domain/route-search/pinned-departure.service.spec.ts
  src/app/domain/route-search/pinned-departure.service.ts
  src/app/domain/trip/live-trip.service.spec.ts
  src/app/domain/trip/live-trip.service.ts
  src/app/domain/trip/trip-progress.util.spec.ts
  src/app/domain/trip/trip-progress.util.ts
  src/app/domain/trip/trip-session.storage.spec.ts
  src/app/domain/trip/trip-session.storage.ts
  src/app/domain/utils/countdown-labels.util.spec.ts
  src/app/domain/utils/countdown-labels.util.ts
  src/app/domain/utils/date-format.util.spec.ts
  src/app/domain/utils/date-format.util.ts
  src/app/features/route-search/route-search.component-timeline.scss
  src/app/features/route-search/route-search.component.html
  src/app/features/route-search/route-search.component.spec.ts
  src/app/features/route-search/route-search.component.ts
  src/app/features/trip/trip.component.html
  src/app/features/trip/trip.component.scss
  src/app/features/trip/trip.component.spec.ts
  src/app/features/trip/trip.component.ts
  src/app/shared/layout/app-layout/app-layout.component.html
  src/app/shared/layout/app-layout/app-layout.component.ts
  src/app/shared/layout/pinned-departure-indicator/pinned-departure-indicator.component.html
  src/app/shared/layout/pinned-departure-indicator/pinned-departure-indicator.component.scss
  src/app/shared/layout/pinned-departure-indicator/pinned-departure-indicator.component.spec.ts
  src/app/shared/layout/pinned-departure-indicator/pinned-departure-indicator.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-angular, eslint-staged

Fix trackStop signature for strict template compilation
  src/app/features/trip/trip.component.ts
Due: lint-angular, eslint-staged

docs(spec): track round-2 visual QA fixes (E1-E4) in checklist
  docs/specs/2026-09-21-route-direction-trip-experience.md
Due: none

fix(lines): resolve nucleus for prefix-named lines so stop ordinals are correct
  src/app/domain/lines/line-route-workspace.service.spec.ts
  src/app/domain/lines/line-route-workspace.service.ts
Due: lint-angular, eslint-staged

feat(map): smoothly center a stop when selected from workspace or marker (E1)
  src/app/features/map/map.component.spec.ts
  src/app/features/map/map.exploration.spec.ts
  src/app/features/map/map.viewport.spec.ts
  src/app/shared/map/leaflet-map.service.ts
  src/app/shared/map/route-map/route-map.component.spec.ts
  src/app/shared/map/route-map/route-map.component.ts
  src/app/shared/map/route-workspace/transit-route-workspace.component.html
  src/app/shared/map/route-workspace/transit-route-workspace.component.spec.ts
  src/app/shared/map/route-workspace/transit-route-workspace.component.ts
Due: lint-angular, eslint-staged

feat(home): redesign recent search preview rows for readability (E4)
  src/app/features/home/recent-searches/ui/recent-search-card/recent-search-card.component.html
  src/app/features/home/recent-searches/ui/recent-search-card/recent-search-card.component.scss
  src/app/features/home/recent-searches/ui/recent-search-preview-entry/recent-search-preview-entry.component.html
  src/app/features/home/recent-searches/ui/recent-search-preview-entry/recent-search-preview-entry.component.scss
  src/app/features/home/recent-searches/ui/recent-search-preview-entry/recent-search-preview-entry.component.spec.ts
Due: lint-angular, eslint-staged

fix(layout): balance pinned departure indicator spacing (E3)
  src/app/shared/layout/pinned-departure-indicator/pinned-departure-indicator.component.scss
Due: none

docs: log E1-E4 fixes in feature checklist and decision log (D2)
  AGENTS.md
  docs/feature-checklist.md
Due: none

docs(spec): close D1-D3 with final report and mobile-first recommendations (D3)
  docs/specs/2026-09-21-route-direction-trip-experience.md
  docs/specs/2026-09-21-route-direction-trip-experience.report.md
Due: none

docs(spec): open round-2 checklist (E5-E10) from new screenshot feedback
  docs/specs/2026-09-21-route-direction-trip-experience.md
Due: none

fix(package): update Node.js engine requirements in package.json
  package.json
Due: none

fix(home): keep recent preview line badge on one line for every catalog code (E5)
  scripts/ui-line-badge.test.ts
  src/app/features/home/recent-searches/ui/recent-search-preview-entry/recent-search-preview-entry.component.scss
Due: lint-angular, eslint-staged

feat(map): ease zoom to a medium level when centering a distant stop (E6)
  src/app/shared/map/leaflet-map.service.ts
  src/app/shared/map/map-stop-focus.util.spec.ts
  src/app/shared/map/map-stop-focus.util.ts
Due: lint-angular, eslint-staged

fix(trip): route the live timeline through the app layout surface (E7)
  src/app/features/trip/trip.component.html
  src/app/features/trip/trip.component.spec.ts
  src/app/features/trip/trip.component.ts
Due: lint-angular, eslint-staged

docs(spec): mark E5-E7 done via remote commits
  docs/specs/2026-09-21-route-direction-trip-experience.md
Due: none

feat(layout): redesign pinned departure bubble interactions (E8)
  src/app/shared/layout/pinned-departure-indicator/pinned-departure-indicator.component.html
  src/app/shared/layout/pinned-departure-indicator/pinned-departure-indicator.component.scss
  src/app/shared/layout/pinned-departure-indicator/pinned-departure-indicator.component.spec.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-angular, eslint-staged

fix(alarms): let recurring reminders skip the too-late guard (E9)
  src/app/features/stop-detail/stop-alarm-dialog/stop-alarm-dialog.component.spec.ts
  src/app/features/stop-detail/stop-alarm-dialog/stop-alarm-dialog.component.ts
Due: lint-angular, eslint-staged

docs(spec,agents): close E8-E10 and log recurrence conventions
  AGENTS.md
  docs/specs/2026-09-21-route-direction-trip-experience.md
Due: none

feat(alarms): weekly recurrence with weekday picker (E10)
  src/app/data/stop-alarms/stop-alarms.storage.spec.ts
  src/app/data/stop-alarms/stop-alarms.storage.ts
  src/app/domain/stop-alarms/alarm-scheduler.service.spec.ts
  src/app/domain/stop-alarms/alarm-scheduler.service.ts
  src/app/domain/stop-alarms/stop-alarm.model.spec.ts
  src/app/domain/stop-alarms/stop-alarm.model.ts
  src/app/domain/stop-alarms/stop-alarms.service.spec.ts
  src/app/domain/stop-alarms/stop-alarms.service.ts
  src/app/features/alarms/alarms.component.html
  src/app/features/alarms/alarms.component.spec.ts
  src/app/features/alarms/alarms.component.ts
  src/app/features/route-search/route-search.component.spec.ts
  src/app/features/stop-detail/stop-alarm-dialog/stop-alarm-dialog.component.html
  src/app/features/stop-detail/stop-alarm-dialog/stop-alarm-dialog.component.scss
  src/app/features/stop-detail/stop-alarm-dialog/stop-alarm-dialog.component.spec.ts
  src/app/features/stop-detail/stop-alarm-dialog/stop-alarm-dialog.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-angular, eslint-staged

Path conditions:
  lint-deps: any of: **/*.{json}
  lint-workflows: any of: **/*.{yml,yaml}
  lint-angular: any of: **/*.{ts,tsx,js,jsx,html}
  eslint-staged: any of: **/*.{ts,tsx,js,jsx}
