Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lint-deps:
  run: pnpm run lint:deps

lint-workflows:
  run: pnpm run lint:workflows

lint-angular:
  run: pnpm run lint:unused

eslint-staged:
  run: pnpm run lint:staged -- {staged_files}
  depends_on:
  - lint-deps
  - lint-workflows
  - lint-angular

style(map): satisfy visual evidence formatter
  src/app/features/map/map.component.html
Due: lint-angular

style(route-search): strengthen arrival time hierarchy
  src/app/features/route-search/route-search.component-timeline.scss
Due: none

test(map): cover viewport browser refresh
  tests/playwright/map-viewport-refresh.spec.ts
Due: lint-angular, eslint-staged

test(map): validate viewport exploration in browser
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

test(map): remove redundant viewport spec
  tests/playwright/map-viewport-refresh.spec.ts
Due: lint-angular, eslint-staged

test(stop-info): protect minimal traveler details
  src/app/features/stop-info/stop-info.component.spec.ts
Due: lint-angular, eslint-staged

style(map): format browser viewport regression
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

test(stop-info): satisfy strict location narrowing
  src/app/features/stop-info/stop-info.component.spec.ts
Due: lint-angular, eslint-staged

test(shell): align browser acceptance with overflow navigation
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

test(map): exercise progressive map controls
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

test(map): sample contrast from visible inspector state
  tests/playwright/theme.contrast.spec.ts
Due: lint-angular, eslint-staged

docs(ui): record progressive navigation acceptance
  .agents/specs/2026-08-27-minimal-ui-cleanup.md
Due: none

style(map): format progressive browser acceptance
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

task: refresh transport snapshots
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

task: refresh transport snapshots (#429)
  src/assets/data/catalog/consortium-1/lines.json
  src/assets/data/catalog/consortium-1/municipalities.json
  src/assets/data/catalog/consortium-1/nuclei.json
  src/assets/data/catalog/consortium-2/lines.json
  src/assets/data/catalog/consortium-2/municipalities.json
  src/assets/data/catalog/consortium-2/nuclei.json
  src/assets/data/catalog/consortium-3/lines.json
  src/assets/data/catalog/consortium-3/municipalities.json
  src/assets/data/catalog/consortium-3/nuclei.json
  src/assets/data/catalog/consortium-4/lines.json
  src/assets/data/catalog/consortium-4/municipalities.json
  src/assets/data/catalog/consortium-4/nuclei.json
  src/assets/data/catalog/consortium-5/lines.json
  src/assets/data/catalog/consortium-5/municipalities.json
  src/assets/data/catalog/consortium-5/nuclei.json
  src/assets/data/catalog/consortium-6/lines.json
  src/assets/data/catalog/consortium-6/municipalities.json
  src/assets/data/catalog/consortium-6/nuclei.json
  src/assets/data/catalog/consortium-7/lines.json
  src/assets/data/catalog/consortium-7/municipalities.json
  src/assets/data/catalog/consortium-7/nuclei.json
  src/assets/data/catalog/consortium-8/lines.json
  src/assets/data/catalog/consortium-8/municipalities.json
  src/assets/data/catalog/consortium-8/nuclei.json
  src/assets/data/catalog/consortium-9/lines.json
  src/assets/data/catalog/consortium-9/municipalities.json
  src/assets/data/catalog/consortium-9/nuclei.json
  src/assets/data/catalog/index.json
  src/assets/data/snapshots/stop-services/latest.json
  src/assets/data/stop-directory/chunks/consortium-1.json
  src/assets/data/stop-directory/chunks/consortium-2.json
  src/assets/data/stop-directory/chunks/consortium-3.json
  src/assets/data/stop-directory/chunks/consortium-4.json
  src/assets/data/stop-directory/chunks/consortium-5.json
  src/assets/data/stop-directory/chunks/consortium-6.json
  src/assets/data/stop-directory/chunks/consortium-7.json
  src/assets/data/stop-directory/chunks/consortium-8.json
  src/assets/data/stop-directory/chunks/consortium-9.json
  src/assets/data/stop-directory/index.json
Due: none

docs(map): define focused line recovery fix
  .agents/specs/2026-08-26-map-workspace-redesign.md
Due: none

fix(map): use canonical stop line endpoint
  src/app/data/route-search/route-lines-api.service.ts
Due: lint-angular, eslint-staged

test(map): cover stop line endpoint recovery
  src/app/data/route-search/route-lines-api.service.spec.ts
Due: lint-angular, eslint-staged

fix(map): move line load failure to toast
  src/app/features/map/map.component.html
Due: lint-angular

style(map): fix line card contrast and toast
  src/app/features/map/map.component.scss
Due: none

test(map): cover line recovery toast
  src/app/features/map/map-inspector.component.spec.ts
Due: lint-angular, eslint-staged

test(map): cover focused line browser recovery
  tests/playwright/map-focused-lines.spec.ts
Due: lint-angular, eslint-staged

style(map): fix focused line test lint
  tests/playwright/map-focused-lines.spec.ts
Due: lint-angular, eslint-staged

style(map): format focused line template
  src/app/features/map/map.component.html
Due: lint-angular

test(map): run focused line browser recovery
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

style(map): format focused line browser spec
  tests/playwright/map-focused-lines.spec.ts
Due: lint-angular, eslint-staged

feat(stop-info): add approximate directions guidance
  .agents/specs/2026-08-27-stop-information-redesign.md
  src/app/features/stop-info/stop-info.component.html
  src/app/features/stop-info/stop-info.component.scss
  src/app/features/stop-info/stop-info.component.spec.ts
  src/app/features/stop-info/stop-info.component.ts
  src/assets/i18n/en.json
  src/assets/i18n/es.json
Due: lint-angular, eslint-staged

docs(pr): track remaining pr 36 requirements
  .agents/specs/2026-08-27-pr36-completion-tracker.md
Due: none

test(stop-info): cover location request races
  src/app/features/stop-info/stop-info.component.spec.ts
Due: lint-angular, eslint-staged

style(stop-info): satisfy import ordering
  src/app/features/stop-info/stop-info.component.ts
Due: lint-angular, eslint-staged

test(stop-info): add responsive directions acceptance
  tests/playwright/stop-info.directions.spec.ts
Due: lint-angular, eslint-staged

test(map): verify popup close affordance
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

style(map): format popup interaction test
  tests/playwright/map-exploration.spec.ts
Due: lint-angular, eslint-staged

refactor(stop-info): centralize direction translation keys
  src/app/core/config.ts
Due: lint-angular, eslint-staged

refactor(stop-info): consume canonical direction keys
  src/app/features/stop-info/stop-info.component.ts
Due: lint-angular, eslint-staged

refactor(map): reuse stop detail navigation builder
  src/app/features/map/map.component.ts
Due: lint-angular, eslint-staged

test(stop-info): capture directions visual evidence
  tests/playwright/stop-info.directions.spec.ts
Due: lint-angular, eslint-staged

test(stop-info): integrate directions visual acceptance
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

refactor(test): consolidate stop info visual acceptance
  tests/playwright/stop-info.directions.spec.ts
Due: lint-angular, eslint-staged

docs(pr): refresh completion tracker
  .agents/specs/2026-08-27-pr36-completion-tracker.md
Due: none

Path conditions:
  lint-deps: any of: **/*.{json}
  lint-workflows: any of: **/*.{yml,yaml}
  lint-angular: any of: **/*.{ts,tsx,js,jsx,html}
  eslint-staged: any of: **/*.{ts,tsx,js,jsx}
