Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lint-deps:
  run: pnpm run lint:deps

lint-workflows:
  run: pnpm run lint:workflows

lint-angular:
  run: pnpm run lint:unused

eslint-staged:
  run: pnpm run lint:staged -- {staged_files}
  depends_on:
  - lint-deps
  - lint-workflows
  - lint-angular

feat(lines): toggle favorites from directory
  src/app/features/lines/lines.component.ts
Due: lint-angular, eslint-staged

feat(lines): render favorite controls
  src/app/features/lines/lines.component.html
Due: lint-angular

style(lines): separate favorite card action
  src/app/features/lines/lines.component.scss
Due: none

feat(lines): toggle favorite from detail
  src/app/features/line-detail/line-detail.component.ts
Due: lint-angular, eslint-staged

chore: no
  tmp-do-not-create
Due: none

chore: remove accidental temporary file
  tmp-do-not-create
Due: none

chore: stage line detail favorite ui
  src/app/features/line-detail/.placeholder
Due: none

chore: remove temporary staging file
  src/app/features/line-detail/.placeholder
Due: none

chore: should not
  src/app/features/line-detail/.should-not
Due: none

chore: remove accidental staging file
  src/app/features/line-detail/.should-not
Due: none

feat(favorites): expose line detail favorite action
  src/app/features/line-detail/line-detail.component.html
Due: lint-angular

style(favorites): lay out line detail favorite action
  src/app/features/line-detail/line-detail.component.scss
Due: none

test(favorites): cover line detail favorite action
  src/app/features/line-detail/line-detail.component.spec.ts
Due: lint-angular, eslint-staged

feat(favorites): add aggregate favorites copy
  src/app/features/favorites/favorites-ui.copy.ts
Due: lint-angular, eslint-staged

feat(favorites): aggregate stops and lines in favorites
  src/app/features/favorites/favorites.component.ts
Due: lint-angular, eslint-staged

feat(favorites): render aggregate favorite entities
  src/app/features/favorites/favorites.component.html
Due: lint-angular

style(favorites): separate favorite entity groups
  src/app/features/favorites/favorites.component.scss
Due: none

test(favorites): cover aggregate stop and line favorites
  src/app/features/favorites/favorites.component.spec.ts
Due: lint-angular, eslint-staged

feat(favorites): support line favorites in home preview
  src/app/features/home/favorites-preview/home-favorites-preview.component.ts
Due: lint-angular, eslint-staged

feat(favorites): render stop and line home favorites
  src/app/features/home/favorites-preview/home-favorites-preview.component.html
Due: lint-angular

test(favorites): cover home line favorite navigation
  src/app/features/home/favorites-preview/home-favorites-preview.component.spec.ts
Due: lint-angular, eslint-staged

feat(favorites): aggregate home favorite preview
  src/app/features/home/home.component.ts
Due: lint-angular, eslint-staged

feat(favorites): use aggregate copy on home favorites
  src/app/features/home/home.component.html
Due: lint-angular

test(favorites): cover aggregate home favorites
  src/app/features/home/home.component.spec.ts
Due: lint-angular, eslint-staged

fix(favorites): narrow aggregate home favorite types
  src/app/features/home/favorites-preview/home-favorites-preview.component.ts
Due: lint-angular, eslint-staged

fix(favorites): render narrowed home favorite cards
  src/app/features/home/favorites-preview/home-favorites-preview.component.html
Due: lint-angular

test(favorites): cover line directory favorite state
  src/app/features/lines/lines.component.spec.ts
Due: lint-angular, eslint-staged

perf(favorites): isolate aggregate home favorites
  src/app/features/home/favorites-preview/home-favorites-panel.component.ts
Due: lint-angular, eslint-staged

perf(favorites): render lazy home favorites panel
  src/app/features/home/favorites-preview/home-favorites-panel.component.html
Due: lint-angular

perf(favorites): defer aggregate home favorite dependencies
  src/app/features/home/home.component.ts
Due: lint-angular, eslint-staged

refactor(home): defer aggregate favorites panel
  src/app/features/home/home.component.html
Due: lint-angular

perf(routes): lazy load favorites feature
  src/app/app.routes.ts
Due: lint-angular, eslint-staged

test(home): await deferred favorites panel
  src/app/features/home/home.component.spec.ts
Due: lint-angular, eslint-staged

test(favorites): cover line favorites storage
  src/app/data/lines/line-favorites.storage.spec.ts
Due: lint-angular, eslint-staged

test(lines): cover catalog NN normalization
  src/app/data/catalog/consortium-catalog.service.spec.ts
Due: lint-angular, eslint-staged

test(favorites): seed deterministic line favorite
  src/app/data/mock/home-mock-data.ts
Due: lint-angular, eslint-staged

test(favorites): expose mock line favorites
  src/app/data/lines/line-favorites.storage.ts
Due: lint-angular, eslint-staged

test(favorites): cover deterministic line favorites
  src/app/data/lines/line-favorites.storage.spec.ts
Due: lint-angular, eslint-staged

fix(favorites): use clear-all confirmation message
  src/app/features/favorites/favorites.component.ts
Due: lint-angular, eslint-staged

test(favorites): verify aggregate visual state
  tests/playwright/deterministic-visual-states.spec.ts
Due: lint-angular, eslint-staged

Path conditions:
  lint-deps: any of: **/*.{json}
  lint-workflows: any of: **/*.{yml,yaml}
  lint-angular: any of: **/*.{ts,tsx,js,jsx,html}
  eslint-staged: any of: **/*.{ts,tsx,js,jsx}
