Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lint-deps:
  run: pnpm run lint:deps

lint-workflows:
  run: pnpm run lint:workflows

lint-angular:
  run: pnpm run lint:unused

eslint-staged:
  run: pnpm run lint:staged -- {staged_files}
  depends_on:
  - lint-deps
  - lint-workflows
  - lint-angular

refactor(shell): reduce navigation state overhead
  src/app/shared/layout/top-actions/app-shell-top-actions.component.html
  src/app/shared/layout/top-actions/app-shell-top-actions.component.scss
  src/app/shared/layout/top-actions/app-shell-top-actions.component.ts
Due: lint-angular, eslint-staged

test(shell): cover overflow drawer interactions
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

style(shell): format drawer playwright coverage
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

fix(home): emit initial recent-search state after outputs bind
  src/app/features/home/recent-searches/home-recent-searches.component.ts
Due: lint-angular, eslint-staged

test(shell): fix mobile overlap geometry assertion
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

test(shell): target semantic page headings
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

fix(ci): stop visual server before mock mode switch
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

fix(ci): validate visual evidence manifest
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

docs(shell): close quick navigation spec
  .agents/specs/2026-08-26-shell-quick-navigation.md
Due: none

docs(ui): reopen map and stop experience contracts
  .agents/specs/2026-08-26-map-stop-identity.md
  .agents/specs/2026-08-26-map-workspace-redesign.md
  .agents/specs/2026-08-26-shell-quick-navigation.md
  .agents/specs/2026-08-27-stop-information-redesign.md
Due: none

test(stops): cover consortium-aware detail links
  src/app/shared/navigation/navigation.util.spec.ts
  src/app/shared/ui/cards/interactive-card/interactive-card.query-params.spec.ts
Due: lint-angular, eslint-staged

feat(navigation): preserve stop consortium links
  src/app/shared/navigation/navigation.util.ts
  src/app/shared/ui/cards/interactive-card/interactive-card.component.html
  src/app/shared/ui/cards/interactive-card/interactive-card.component.ts
Due: lint-angular, eslint-staged

fix(favorites): keep stop consortium in links
  src/app/features/favorites/favorites.component.html
  src/app/features/favorites/favorites.component.spec.ts
  src/app/features/favorites/favorites.component.ts
Due: lint-angular, eslint-staged

fix(home): keep favorite stop consortium
  src/app/features/home/favorites-preview/home-favorites-preview.component.html
  src/app/features/home/favorites-preview/home-favorites-preview.component.spec.ts
  src/app/features/home/favorites-preview/home-favorites-preview.component.ts
  src/app/features/home/home.component.html
Due: lint-angular, eslint-staged

test(stops): reject ambiguous local identities
  src/app/data/stops/stop-directory.identity.spec.ts
Due: lint-angular, eslint-staged

fix(stops): reject ambiguous local identities
  src/app/data/stops/stop-directory.service.ts
Due: lint-angular, eslint-staged

test(home): handle nullable router link tree
  src/app/features/home/favorites-preview/home-favorites-preview.component.spec.ts
Due: lint-angular, eslint-staged

test(map): cover icon-first search behavior
  src/app/features/map/map-search.component.spec.ts
Due: lint-angular, eslint-staged

feat(map): make search icon first
  src/app/features/map/map-search.component.html
  src/app/features/map/map-search.component.scss
  src/app/features/map/map-search.component.spec.ts
  src/app/features/map/map-search.component.ts
Due: lint-angular, eslint-staged

fix(map): handle search escape at component host
  src/app/features/map/map-search.component.ts
Due: lint-angular, eslint-staged

fix(map): remove unfocusable search key handler
  src/app/features/map/map-search.component.html
Due: lint-angular

test(shell): define bottom navigation overflow
  src/app/shared/layout/top-actions/app-shell-top-actions.component.spec.ts
Due: lint-angular, eslint-staged

feat(shell): move navigation to bottom dock
  src/app/shared/layout/top-actions/app-shell-top-actions.component.html
  src/app/shared/layout/top-actions/app-shell-top-actions.component.scss
  src/app/shared/layout/top-actions/app-shell-top-actions.component.ts
Due: lint-angular, eslint-staged

test(shell): flush overflow focus restoration
  src/app/shared/layout/top-actions/app-shell-top-actions.component.spec.ts
Due: lint-angular, eslint-staged

test(map): define hidden inspector sections
  src/app/features/map/map-inspector.component.spec.ts
Due: lint-angular, eslint-staged

feat(map): hide inspector behind section controls
  src/app/features/map/map.component.html
Due: lint-angular

style(map): position progressive inspector surfaces
  src/app/features/map/map.component.scss
Due: none

fix(map): improve stop popup close control
  src/styles/_map.scss
Due: none

fix(map): restore nearby stop contrast
  src/app/features/map/map.component.scss
Due: none

fix(shell): expose pointer feedback on navigation actions
  src/app/shared/layout/top-actions/app-shell-top-actions.component.scss
Due: none

style(routes): align departure cards with stop detail
  src/app/features/route-search/route-search.component-timeline.scss
Due: none

fix(layout): reserve clearance for floating navigation
  src/styles/_layout.scss
Due: none

docs(ui): define minimal information cleanup
  .agents/specs/2026-08-27-minimal-ui-cleanup.md
Due: none

refactor(routes): simplify departure information
  src/app/features/route-search/route-search.component-timeline.scss
  src/app/features/route-search/route-search.component.html
Due: lint-angular

refactor(stop-info): prioritize traveler information
  src/app/features/stop-info/stop-info.component.html
  src/app/features/stop-info/stop-info.component.scss
Due: lint-angular

refactor(stop-detail): remove duplicate stop metadata
  src/app/features/stop-detail/stop-detail.component.html
Due: lint-angular

fix(map): refresh exploration data by viewport
  src/app/features/map/map.component.html
  src/app/features/map/map.component.ts
Due: lint-angular, eslint-staged

test(map): cover viewport exploration refresh
  src/app/features/map/map.viewport.spec.ts
Due: lint-angular, eslint-staged

style(map): format viewport exploration template
  src/app/features/map/map.component.html
Due: lint-angular

test(map): satisfy viewport stub lint
  src/app/features/map/map.viewport.spec.ts
Due: lint-angular, eslint-staged

Path conditions:
  lint-deps: any of: **/*.{json}
  lint-workflows: any of: **/*.{yml,yaml}
  lint-angular: any of: **/*.{ts,tsx,js,jsx,html}
  eslint-staged: any of: **/*.{ts,tsx,js,jsx}
