Repository juanjoGonDev/andalucia-transit: changes, and which lefthook commands are due for each by the changed paths.
All: lint-deps, lint-workflows, lint-angular, eslint-staged

lint-deps:
  run: pnpm run lint:deps

lint-workflows:
  run: pnpm run lint:workflows

lint-angular:
  run: pnpm run lint:unused

eslint-staged:
  run: pnpm run lint:staged -- {staged_files}
  depends_on:
  - lint-deps
  - lint-workflows
  - lint-angular

style(stop-info): format visual evidence test
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

docs(pr): enumerate accumulated ux requirements
  .agents/specs/2026-08-27-pr36-completion-tracker.md
Due: none

test(e2e): pin visual interaction locale
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

test(e2e): capture stop detail evidence
  tests/playwright/stop-detail.evidence.spec.ts
Due: lint-angular, eslint-staged

test(e2e): cover responsive stop detail evidence
  tests/playwright/deterministic-visual-states.spec.ts
Due: lint-angular, eslint-staged

refactor(e2e): keep stop detail evidence canonical
  tests/playwright/stop-detail.evidence.spec.ts
Due: lint-angular, eslint-staged

style(e2e): format stop detail evidence
  tests/playwright/deterministic-visual-states.spec.ts
Due: lint-angular, eslint-staged

test(e2e): assert rendered stop detail surface
  tests/playwright/deterministic-visual-states.spec.ts
Due: lint-angular, eslint-staged

test(e2e): publish stop detail evidence
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

docs(pr): close completion tracker
  .agents/specs/2026-08-27-pr36-completion-tracker.md
Due: none

docs(pr): define transit discovery follow-up
  .agents/specs/2026-08-28-transit-discovery-stop-news.md
Due: none

style(route-search): align relative departure time
  src/app/features/route-search/route-search.component-timeline.scss
Due: none

fix(map): resolve area lines from nearby stops
  src/app/data/route-search/route-lines-api.service.spec.ts
  src/app/data/route-search/route-lines-api.service.ts
Due: lint-angular, eslint-staged

fix(map): simplify line discovery feedback
  src/app/features/map/map.component.scss
Due: none

feat(stops): integrate useful stop actions
  src/app/app.routes.spec.ts
  src/app/app.routes.ts
  src/app/features/line-detail/line-detail.component.html
  src/app/features/line-detail/line-detail.component.scss
  src/app/features/line-detail/line-detail.component.ts
  src/app/features/stop-detail/stop-detail.component.html
  src/app/features/stop-detail/stop-detail.component.ts
  src/app/features/stop-detail/stop-utility/stop-utility.component.html
  src/app/features/stop-detail/stop-utility/stop-utility.component.scss
  src/app/features/stop-detail/stop-utility/stop-utility.component.ts
  src/app/features/stop-info/stop-info-redirect.component.ts
  src/app/shared/navigation/navigation.util.spec.ts
  src/app/shared/navigation/navigation.util.ts
  src/app/shared/navigation/stop-travel-links.util.spec.ts
  src/app/shared/navigation/stop-travel-links.util.ts
Due: lint-angular, eslint-staged

feat(news): add internal CTAN news viewer
  src/app/app.routes.spec.ts
  src/app/app.routes.ts
  src/app/data/news/news-feed.service.spec.ts
  src/app/data/news/news-feed.service.ts
  src/app/domain/news/news.facade.spec.ts
  src/app/domain/news/news.facade.ts
  src/app/features/news/news-detail.component.html
  src/app/features/news/news-detail.component.scss
  src/app/features/news/news-detail.component.ts
  src/app/features/news/news.component.html
  src/app/features/news/news.component.scss
  src/app/features/news/news.component.spec.ts
  src/app/features/news/news.component.ts
  src/app/shared/navigation/navigation.util.spec.ts
  src/app/shared/navigation/navigation.util.ts
Due: lint-angular, eslint-staged

fix(ci): satisfy strict news and line checks
  src/app/data/route-search/route-lines-api.service.ts
  src/app/features/news/news.component.spec.ts
Due: lint-angular, eslint-staged

test(stops): cover integrated stop actions
  src/app/features/stop-detail/stop-detail.component.spec.ts
Due: lint-angular, eslint-staged

docs(pr): refine stop and news information architecture
  .agents/specs/2026-08-28-transit-discovery-stop-news.md
Due: none

feat(stops): group stop detail actions by task
  src/app/features/stop-detail/stop-detail.component.html
  src/app/features/stop-detail/stop-detail.component.scss
  src/app/features/stop-detail/stop-detail.component.ts
  src/app/features/stop-detail/stop-utility/stop-utility.component.html
  src/app/features/stop-detail/stop-utility/stop-utility.component.scss
  src/app/features/stop-detail/stop-utility/stop-utility.component.ts
Due: lint-angular, eslint-staged

feat(news): add area filters sorting and pagination
  src/app/data/catalog/consortium-catalog.service.spec.ts
  src/app/data/catalog/consortium-catalog.service.ts
  src/app/features/news/news-ui.copy.ts
  src/app/features/news/news.component.html
  src/app/features/news/news.component.scss
  src/app/features/news/news.component.spec.ts
  src/app/features/news/news.component.ts
Due: lint-angular, eslint-staged

test(ui): cover stop tabs and strict news filters
  src/app/data/catalog/consortium-catalog.service.ts
  src/app/features/news/news.component.ts
  src/app/features/stop-detail/stop-detail.component.spec.ts
Due: lint-angular, eslint-staged

test(e2e): cover progressive stops and news controls
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

refactor(route-lines): keep map discovery lazy
  src/app/data/route-search/route-line-detail-with-stops.loader.ts
  src/app/data/route-search/route-lines-api.service.ts
  src/app/data/route-search/route-lines-nearby.loader.ts
Due: lint-angular, eslint-staged

test(news): flush signal effects in facade specs
  src/app/domain/news/news.facade.spec.ts
Due: lint-angular, eslint-staged

feat(news): preserve complete filter state
  src/app/features/news/news-ui.copy.ts
  src/app/features/news/news.component.html
  src/app/features/news/news.component.scss
  src/app/features/news/news.component.spec.ts
  src/app/features/news/news.component.ts
Due: lint-angular, eslint-staged

perf(routing): lazy load route search
  src/app/app.routes.ts
Due: lint-angular, eslint-staged

test(e2e): cover durable news filters
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

docs(news): refine filter persistence acceptance
  .agents/specs/2026-08-28-transit-discovery-stop-news.md
Due: none

test(news): model routed query state
  src/app/features/news/news.component.spec.ts
Due: lint-angular, eslint-staged

style(e2e): format visual interaction states
  tests/playwright/visual-interaction-states.spec.ts
Due: lint-angular, eslint-staged

test(news): preserve routed query stub
  src/app/features/news/news.component.spec.ts
Due: lint-angular, eslint-staged

docs(pr): freeze transit follow-up scope
  .agents/specs/2026-08-28-transit-discovery-stop-news.md
Due: none

test(e2e): publish transit follow-up evidence
  .github/workflows/pr-visual-evidence.yml
Due: lint-workflows

test(news): isolate routed state dependencies
  src/app/features/news/news.component.spec.ts
Due: lint-angular, eslint-staged

docs(news): require language-faithful content
  .agents/specs/2026-08-28-transit-discovery-stop-news.md
Due: none

fix(news): keep CTAN content language-faithful
  src/app/data/news/news-feed.service.spec.ts
  src/app/data/news/news-feed.service.ts
  src/app/domain/news/news.facade.spec.ts
  src/app/domain/news/news.facade.ts
  src/app/features/news/news.component.spec.ts
Due: lint-angular, eslint-staged

fix(route-lines): scope line detail cache to service
  src/app/data/route-search/route-line-detail.mapper.ts
  src/app/data/route-search/route-lines-api.service.ts
Due: lint-angular, eslint-staged

fix(layout): keep shell clearance inside page surface
  .agents/specs/2026-08-28-transit-discovery-stop-news.md
  src/app/shared/layout/app-layout/app-layout.component.scss
  tests/playwright/home-tabs.layout.spec.ts
Due: lint-angular, eslint-staged

test(news): cover routed query updates deterministically
  src/app/features/news/news.component.spec.ts
Due: lint-angular, eslint-staged

Path conditions:
  lint-deps: any of: **/*.{json}
  lint-workflows: any of: **/*.{yml,yaml}
  lint-angular: any of: **/*.{ts,tsx,js,jsx,html}
  eslint-staged: any of: **/*.{ts,tsx,js,jsx}
